<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'address-form.title'}}</h3>
  </div>
  <div class="panel-body">
    <p class="form-details mbm">
      {{instructions}}
    </p>
    {{#forms/form-group valuePath='address.address1' as |showError|}}
      <label for="address1" class="col-sm-2 control-label">{{t 'address-form.address1.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' name='address1' value=address.address1 class='form-control' placeholder=(t 'address-form.address1.placeholder')}}
        {{error-display error=validations.attrs.address.address1 showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='address.address2' as |showError|}}
      <label for="address2" class="col-sm-2 control-label">{{t 'address-form.address2.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' name='address2' value=address.address2 class='form-control' placeholder=(t 'address-form.address2.placeholder')}}
        {{error-display error=validations.attrs.address.address2 showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='address.city' as |showError|}}
      <label for="city" class="col-sm-2 control-label">{{t 'address-form.city.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' name='city' value=address.city class='form-control'}}
        {{error-display error=validations.attrs.address.city showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='address.zipCode' as |showError|}}
      <label for="zipCode" class="col-sm-2 control-label">{{t 'address-form.zipCode.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' name='zipCode' value=address.zipCode class='form-control'}}
        {{error-display error=validations.attrs.address.zipCode showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='address.country.id' as |showError|}}
      <label for="country" class="col-sm-2 control-label">{{t 'address-form.country.label'}}</label>

      <div class="col-sm-10">
        {{forms/country-select
        countries=countries
        country=address.country
        allowClear=true
        onchange=countryDidChange}}
        {{error-display error=validations.attrs.address.country.id showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#if address.country}}
      {{#forms/form-group valuePath='address.department.id' as |showError|}}
        {{#if address.country.isFrance}}
          <label for="department" class="col-sm-2 control-label">{{t 'address-form.department.label'}}</label>

          <div class="col-sm-10">
            {{forms/department-select
            department=address.department
            allowClear=true
            onchange=departmentDidChange}}
            {{error-display error=validations.attrs.address.department.id showError=showError}}
          </div>
        {{else}}
          <label for="state" class="col-sm-2 control-label">{{t 'address-form.state.label'}}</label>

          <div class="col-sm-10">
            {{input type='text' name='state' value=address.state class='form-control'}}
          </div>
        {{/if}}
      {{/forms/form-group}}
    {{/if}}
    {{#if sessionUser.user.isAdmin}}
      <hr/>
      {{#forms/form-group valuePath='address.latitude' as |showError|}}
        <label for="latitude" class="col-xs-12 col-sm-2 control-label">{{t 'address-form.latitudeLongitude.label'}}</label>

        <div class="col-xs-6 col-sm-5">
          {{input type='number' name='latitude' value=address.latitude class='form-control'}}
          {{error-display error=validations.attrs.address.latitude showError=showError}}
        </div>
        <div class="col-xs-6 col-sm-5">
          {{input type='number' name='longitude' value=address.longitude class='form-control'}}
          {{error-display error=validations.attrs.address.longitude showError=showError}}
        </div>
      {{/forms/form-group}}
    {{/if}}
  </div>
</div>
