{{#modal-dialog close=close translucentOverlay=true}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action close}} aria-label={{t 'literal.close'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      Approve a Review
    </h4>
  </div>
  <div class="modal-body">
    Please make sure that the review:
    <ul>
      <li>is polite and respectful</li>
      <li>sticks to the facts and avoids personal opinions or third party information</li>
      <li>is helpful to the community</li>
      <li>does not contain personal attacks or insults, defamation, inappropriate or unrelated content</li>
    </ul>
    {{#forms/form-group valuePath='review.text' as |showError|}}
      <label for="text" class="control-label">Edit the Review (fix typos, remove extra spaces, ...)</label>

      {{textarea id='text' name='text' value=review.text class='form-control' rows='7'}}
      {{error-display error=validations.attrs.review.text showError=showError}}
    {{/forms/form-group}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" {{action approveReview review}} disabled={{isApproving}}>
      Approve
    </button>
  </div>
{{/modal-dialog}}
