<!-- Create profile modal box -->
<div class="modal fade" id="createProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">{{t 'profileModal.title'}}</h4>
            </div>
            <div class="modal-body">
                <p>{{t 'profileModal.text'}}</p>
                <p data-dismiss="modal">
                    {{#link-to 'wwoofers.new' class="btn btn-primary col-md-offset-2"}} {{t 'profileModal.wantToBeWwoofer'}}{{/link-to}}
                    {{#link-to 'hosts.new'  class="btn btn-primary"}}{{t 'profileModal.wantToBeHost'}}{{/link-to}}
                </p>
                <p><i><small>{{t 'profileModal.details'}}</small></i></p>
            </div>
        </div>
    </div>
</div>
