{{convert-breaklines displayedText}}
<strong>
  <a href="#" {{action 'toggle'}}>
    {{#if isExpanded}}
      {{t 'literal.hide'}}
    {{else}}
      {{t 'literal.showMore'}}
    {{/if}}
  </a>
</strong>
