  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'host-form.generalInformation'}}</h3>
  </div>
  <div class="panel-body">
    {{#forms/form-group valuePath='host.farmName' validations=validations as |showError|}}
      <label for="farmName" class="col-sm-2 control-label">{{t 'host-form.farmName.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='farmName' name='farmName' value=host.farmName class='form-control' placeholder=(t 'host-form.farmName.placeholder')}}
        {{error-display error=validations.attrs.host.farmName showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='host.shortDescription' validations=validations as |showError|}}
      <label for="shortDescription" class="col-sm-2 control-label">{{t 'host-form.shortDescription.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='shortDescription' name='shortDescription' value=host.shortDescription class='form-control' placeholder=(t 'host-form.shortDescription.placeholder')}}
        {{error-display error=validations.attrs.host.shortDescription showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='host.fullDescription' validations=validations as |showError|}}
      <label for="fullDescription" class="col-sm-2 control-label">{{t 'host-form.fullDescription.label'}}</label>

      <div class="col-sm-10">
        {{textarea id='fullDescription' name='fullDescription' value=host.fullDescription class='form-control' placeholder=(t 'host-form.fullDescription.placeholder') rows="10"}}
        {{error-display error=validations.attrs.host.fullDescription showError=showError}}
      </div>
    {{/forms/form-group}}
    <div class="col-sm-offset-2 col-sm-10 mbs">
      <p class="form-details">
        {{t 'host-form.fullDescriptionDetails'}}
      </p>
    </div>
    {{#forms/form-group valuePath='host.travelDetails' validations=validations as |showError|}}
      <label for="travelDetails" class="col-sm-2 control-label">{{t 'host-form.travel.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='travelDetails' name='travelDetails' value=host.travelDetails class='form-control' placeholder=(t 'host-form.travel.placeholder')}}
        {{error-display error=validations.attrs.host.travelDetails showError=showError}}
      </div>
    {{/forms/form-group}}
    <div class="col-sm-offset-2 col-sm-10">
      <p class="form-details">
        {{t 'host-form.travelDetails'}}
      </p>
    </div>
    {{#forms/form-group valuePath='host.activities' validations=validations}}
      <label class="col-sm-2 control-label">{{t 'host-form.activities'}}</label>

      <div class="col-sm-10 toggle-options-cols">
        {{toggle-options values=activitiesService.allActivities selected=host.activities optionValuePath='id'}}
      </div>
    {{/forms/form-group}}
    {{#if onlyGreenBuildingEnabled}}
      <div class="col-sm-offset-2 alert alert-warning" role="alert">
        {{t 'host-form.onlyGreenBuildingEnabled'}}
      </div>
    {{/if}}
    <hr class="col-sm-offset-2 col-sm-9 mvs">
    <div class="form-group">
      <label class="col-sm-2 control-label">{{t 'host-form.openingMonths'}}</label>

      <div class="col-sm-10 toggle-options-cols capitalize">
        {{toggle-options values=monthsService.allMonths selected=host.openingMonths optionValuePath='id'}}
      </div>
    </div>

    {{#unless host.isNew}}
      <hr class="col-sm-offset-2 col-sm-9 mvs">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              {{input type='checkbox' id='isHidden' name='isHidden' checked=host.isHidden}}
              {{t 'host-form.isHidden.label'}}
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-10">
        <span class="form-details">
          {{t 'host-form.isHiddenDetails'}}
        </span>
      </div>
    {{/unless}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'host-form.lodgingDetails'}}</h3>
  </div>
  <div class="panel-body">
    {{#forms/form-group valuePath='host.lodgings' validations=validations}}
      <label class="col-sm-2 control-label">{{t 'host-form.lodging'}}</label>

      <div class="col-sm-10 toggle-options-cols">
        {{toggle-options values=lodgingsService.allLodgings selected=host.lodgings optionValuePath='id'}}
      </div>
    {{/forms/form-group}}
    <hr class="col-sm-offset-2 col-sm-9 mvs">
    {{#forms/form-group valuePath='host.capacity' validations=validations}}
      <label class="col-sm-2 control-label">{{t 'host-form.capacity'}}</label>

      <div class="col-sm-10 radio-options-cols">
        {{#radio-button classNames='radio-inline' value=1 groupValue=host.capacity}}
          {{t 'host-form.capacity.label' count=1}}
        {{/radio-button}}
        {{#radio-button classNames='radio-inline' value=2 groupValue=host.capacity}}
          {{t 'host-form.capacity.label' count=2}}
        {{/radio-button}}
        {{#radio-button classNames='radio-inline' value=3 groupValue=host.capacity}}
          {{t 'host-form.capacity.label' count=3}}
        {{/radio-button}}
        {{#radio-button classNames='radio-inline' value=4 groupValue=host.capacity}}
          {{t 'host-form.capacity.label' count='4+'}}
        {{/radio-button}}
      </div>
    {{/forms/form-group}}
    <hr class="col-sm-offset-2 col-sm-9 mvs">
    {{#forms/form-group valuePath='host.stays' validations=validations}}
      <label class="col-sm-2 control-label">{{t 'host-form.stays'}}</label>

      <div class="col-sm-10 toggle-options-cols">
        {{toggle-options values=staysService.allStays selected=host.stays optionValuePath='id'}}
      </div>
    {{/forms/form-group}}
    <hr class="col-sm-offset-2 col-sm-9 mvs">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 toggle-options-cols">
        <label for="childrenOk" class="checkbox-inline">
          {{input type='checkbox' id='childrenOk' checked=host.childrenOk}}
          {{t 'host-form.childrenOk.label'}}
        </label>
        <label for="petsOk" class="checkbox-inline">
          {{input type='checkbox' id='petsOk' checked=host.petsOk}}
          {{t 'host-form.petsOk.label'}}
        </label>
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
        <span class="form-details">
          <span class="glyphicon glyphicon-exclamation-sign"></span>
          {{t 'host-form.childrenOkDetails'}}
        </span>
    </div>
  </div>
</div>
