<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'host-contact-details.phoneWebsite'}}</h3>
  </div>
  <div class="panel-body">
    <p class="form-details mbm">
      {{t 'host-contact-details.sharePolicy'}}
    </p>
    <div class="form-group {{if host.user.fieldErrors.phone.length 'has-error'}}">
      <label for="phone" class="col-sm-2 control-label">{{t 'host-contact-details.phone.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='phone' name='phone' value=host.user.phone class='form-control' placeholder=(t 'host-contact-details.phone.placeholder')}}
        {{error-display errors=host.user.fieldErrors.phone}}
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            {{input type='checkbox' id='noPhone' name='noPhone' checked=host.noPhone}}
            {{t 'host-contact-details.noPhone.label'}}
          </label>
        </div>
        {{#if sessionUser.user.isAdmin}}
          <div class="checkbox">
            <label>
              {{input type='checkbox' id='noEmail' name='noEmail' checked=host.noEmail}}
              {{t 'host-contact-details.noEmail.label'}}
            </label>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="form-group {{if host.fieldErrors.webSite.length 'has-error'}}">
      <label for="webSite" class="col-sm-2 control-label">{{t 'host-contact-details.website.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='webSite' name='webSite' value=host.webSite class='form-control' placeholder=(t 'host-contact-details.website.placeholder')}}
        {{error-display errors=host.fieldErrors.webSite}}
      </div>
    </div>
  </div>
</div>
