{{#if membershipsService.hasHostMemberships}}
    {{#if membershipsService.latestHostMembership.isStillValidInAMonth}}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-ok-sign"></span>
            {{t 'host.membership-status.valid'}}
        </div>
    {{else}}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-exclamation-sign"></span>

            {{t 'host.membership-status.yourHostProfile'}}
            {{#if membershipsService.latestHostMembership.isExpired}}
                {{t 'host.membership-status.isDisabledSince'}}
                {{format-date membershipsService.latestHostMembership.expireAt}}. {{t 'host.membership-status.makeVisibleAgain'}}
            {{else}}
                {{t 'host.membership-status.willBeDisabled'}}
                {{format-date membershipsService.latestHostMembership.expireAt}}. {{t 'host.membership-status.keepVisible'}}
            {{/if}}
            {{t 'host.membership-status.community'}}
            {{#link-to 'memberships.new' (query-params type='H' itemCode='HR') class="alert-link"}}{{t 'host.membership-status.renewMembership'}}{{/link-to}}.
        </div>
    {{/if}}
{{else}}
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{t 'host.membership-status.wasValidated'}}
        {{t 'host.membership-status.makeVisible'}}
        {{#link-to 'memberships.new' (query-params type='H' itemCode='H') class="alert-link"}}{{t 'host.membership-status.payMembership'}}{{/link-to}}.
    </div>
{{/if}}
