<div class="row">
    <div class="hidden-xs hidden-sm hidden-md col-lg-5 col-host-thumb">
        {{image-thumb url=photoUrl classNames="host-thumb"}}
    </div>
    <div class="col-sm-12 col-lg-7">
        <h4>{{farmName}}</h4>
        <p>{{description}}</p>
        {{#link-to "host" hostId title=farmName class="btn btn-primary"}}
            {{t 'literal.view'}}
        {{/link-to}}
        {{#if session.user.isAdmin}}
            {{#link-to "host.edit" hostId class="btn btn-default mlx" }}
                {{t 'literal.edit'}}
            {{/link-to}}
        {{/if}}
    </div>
</div>
<hr class="hr-wider"/>
