{{#link-to 'host' host.id title=host.displayedFarmName}}
  {{image-thumb url=host.firstPhotoUrl height=250}}
{{/link-to}}

{{#if host.isBookmarked}}
  <span class="glyphicon glyphicon-larger glyphicon-heart text-primary" {{action 'remove' host}}></span>
{{else}}
  <span class="glyphicon glyphicon-larger glyphicon-heart-empty text-primary" {{action 'add' host}}></span>
{{/if}}

<div class="caption host-item-caption">
  <h3 class="overflow-ellipsis">{{host.displayedFarmName}}</h3>
  <p>{{truncate host.fullDescription limit=200}}</p>
</div>
