<div class="panel-heading">
  {{t 'host.validation-status.title'}}
</div>
<div class="panel-body">
  {{#if host.isPendingApproval}}
    {{#if sessionUser.user.isAdmin}}
      <p>
        {{t 'host.validation-status.adminPending'}}
      </p>
      <button {{action "approveHost" true}} class="btn btn-primary" disabled={{isProcessing}}>
        {{t 'host.validation-status.adminApprove'}}
      </button>
      <button {{action "approveHost" false}} class="btn btn-default" disabled={{isProcessing}}>
        {{t 'host.validation-status.adminReject'}}
      </button>
    {{else}}
      {{t 'host.validation-status.profileCreated'}}
      {{t 'host.validation-status.mustValidate'}}
      {{t 'host.validation-status.uploadPictures'}}
    {{/if}}
  {{else}}
    {{#unless host.isApproved}}
      {{t 'host.membership-status.wasRejected'}}
    {{/unless}}
  {{/if}}
</div>
