{{#modal-dialog close=close translucentOverlay=true}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action close}} aria-label={{t 'literal.close'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      {{t 'impersonate.title'}}
    </h4>
  </div>
  <div class="modal-body">
    <div class="form-group {{if fieldErrors.impersonatedUserEmail.length 'has-error'}}">
      <label for="impersonatedUserEmail" class="control-label">{{t 'impersonate.email.label'}}</label>
      {{input value=impersonatedUserEmail name="impersonatedUserEmail" type="email" class="form-control" placeholder="someone@domain.com"}}
      {{error-display errors=fieldErrors.impersonatedUserEmail}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" {{action close}} disabled={{isLoading}}>
      {{t 'literal.cancel'}}
    </button>
    <button type="button" class="btn btn-primary" {{action impersonate impersonatedUserEmail}} disabled={{isLoading}}>
      {{t 'impersonate.button'}}
    </button>
  </div>
{{/modal-dialog}}
