<td>{{membership.user.fullName}}</td>
<td>{{membership.itemCode}}</td>
<td>{{membership.paymentType}}</td>
<td>{{membership.total}} Euro</td>
<td>{{moment-format membership.createdAt 'll'}}</td>
<td class={{expireAtClass}}>{{moment-format membership.expireAt 'll'}}</td>
<td>
  {{#if membership.includeBooklet}}
    {{#if membership.bookletSentAt}}
      <span class="glyphicon glyphicon-ok" title={{moment-format membership.bookletSentAt}}></span>
    {{else}}
      <span class="glyphicon glyphicon-send pointer" {{action 'markBookletAsSent' membership}} title={{t 'memberships.index.sendBooklet'}}></span>
    {{/if}}
  {{else}}
    {{t 'literal.notApplicable'}}
  {{/if}}
</td>
<td>
  {{#link-to 'membership.edit' membership.id class='list-action mrx'}}
    <span class="glyphicon glyphicon-pencil" title={{t 'literal.edit'}}></span>
  {{/link-to}}
</td>
