<td>{{input type="checkbox" checked=checked}}</td>
<td>{{membership.user.firstName}}</td>
<td>{{membership.user.lastName}}</td>
<td>{{membership.type}}</td>
<td>{{format-date membership.createdAt}}</td>
<td>{{membership.total}} Euro</td>
<td>{{membership.paymentType}}</td>
<td>{{format-date membership.expireAt}}</td>
<td>
    {{#if membership.reminderSentAt}}
        <span class="glyphicon glyphicon-ok" title={{format-date membership.reminderSentAt}}></span>
    {{/if}}
</td>
