<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{t 'membership-form.options'}}
    </h3>
  </div>
  <div class="panel-body">
    {{#forms/form-group valuePath='membership.itemCode' validations=validations as |showError|}}
      <label class="col-sm-2 control-label">{{t 'membership-form.itemCode.label'}}</label>

      <div class="col-sm-10">
        {{#each membershipOptions as |membershipOption|}}
          <div class="radio">
            {{#radio-button value=membershipOption.id groupValue=membership.itemCode changed=itemCodeChanged}}
              {{membershipOption.name}}
            {{/radio-button}}
          </div>
        {{/each}}
        {{error-display error=validations.attrs.membership.itemCode showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#if membership.isNew}}
      <div class="col-sm-offset-2 col-sm-10">
        <p class="form-details mbm">
          {{t 'membership-form.itemCode.details'}}
        </p>
      </div>
      {{#if membership.isWwoofer}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" checked={{membership.includeBooklet}} onclick={{toggleBookletIncluded}} />
                {{t 'membership-form.booklet'}}
              </label>
            </div>
          </div>
        </div>
        {{#if membership.includeBooklet}}
          {{#forms/form-group valuePath='shippingRegion' validations=validations as |showError|}}
            <label for="shippingRegions" class="col-sm-2 control-label">{{t 'membership-form.shipping.label'}}</label>

            <div class="col-sm-10">
              {{#each membershipsService.shippingRegionOptions as |shippingRegionOption|}}
                <div class="radio">
                  {{#radio-button value=shippingRegionOption.id groupValue=shippingRegion changed=shippingRegionChanged}}
                    {{shippingRegionOption.name}}
                  {{/radio-button}}
                </div>
              {{/each}}
              {{error-display error=validations.attrs.shippingRegion showError=showError}}
            </div>
          {{/forms/form-group}}
          <div class="col-sm-offset-2 col-sm-10">
            <p class="form-details mbm">
              {{t 'membership-form.shipping.details'}}
            </p>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
    {{#if isAdminMode}}
      {{#forms/form-group valuePath='membership.paymentType' class='mbx' validations=validations as |showError|}}
        <label for="shippingRegions" class="col-sm-2 control-label">{{t 'membership-form.paymentType.label'}}</label>

        <div class="col-sm-10">
          {{#power-select
              selected=paymentType
              options=membershipsService.paymentTypeOptions
              searchField='name'
              placeholder=(t 'membership-form.paymentType.prompt')
              allowClear=true
              onchange=paymentTypeDidChange
              disabled=isFree
          as |paymentType|}}
            {{paymentType.name}}
          {{/power-select}}

          {{#if membership.isNew}}
            <div class="checkbox">
              <label>
                <input type="checkbox" checked={{isFree}} onclick={{toggleIsFree}} />
                {{t 'membership-form.isFree.label'}}
              </label>
            </div>
          {{/if}}
          {{error-display error=validations.attrs.membership.paymentType showError=showError}}
        </div>
      {{/forms/form-group}}
    {{/if}}
    {{#forms/form-group valuePath='membership.total' class='mbx' validations=validations as |showError|}}
      <label class="col-sm-2 control-label">{{t 'membership-form.total'}}</label>

      <div class="col-sm-10">
        {{#if membership.isNew}}
          <p class="form-control-static">{{membership.displayedTotal}} Euros</p>
        {{else}}
          <div class="input-group">
            {{input id='total' type='number' name='total' value=membership.total class='form-control'}}
            <div class="input-group-addon">Euros</div>
          </div>
        {{/if}}
        {{error-display error=validations.attrs.membership.total showError=showError}}
      </div>
    {{/forms/form-group}}
  </div>
</div>
{{#if membership.isDuo}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'membership-form.otherWwoofer'}}</h3>
    </div>
    <div class="panel-body">
      {{#forms/form-group valuePath='membership.firstName2' validations=validations as |showError|}}
        <label for="firstName2" class="col-sm-2 control-label">{{t 'membership-form.firstName.label'}}</label>

        <div class="col-sm-10">
          {{input id='firstName2' type='text' name='firstName2' value=membership.firstName2 class='form-control'}}
          {{error-display error=validations.attrs.membership.firstName2 showError=showError}}
        </div>
      {{/forms/form-group}}
      {{#forms/form-group valuePath='membership.lastName2' validations=validations as |showError|}}
        <label for="lastName2" class="col-sm-2 control-label">{{t 'membership-form.lastName.label'}}</label>

        <div class="col-sm-10">
          {{input id='lastName2' type='text' name='lastName2' value=membership.lastName2 class='form-control'}}
          {{error-display error=validations.attrs.membership.lastName2 showError=showError}}
        </div>
      {{/forms/form-group}}
      {{#forms/form-group valuePath='membership.birthDate2' validations=validations as |showError|}}
        <label for="birthDate2" class="col-sm-2 control-label">{{t 'membership-form.birthDate.label'}}</label>

        <div class="col-sm-10">
          {{date-picker selectedDate=selectedDate dateSelected=dateSelected}}
          {{error-display error=validations.attrs.membership.birthDate2 showError=showError}}
        </div>
      {{/forms/form-group}}
    </div>
  </div>
{{/if}}
