{{#modal-dialog close=close translucentOverlay=true}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action close}} aria-label={{t 'literal.close'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      {{t 'profileModal.title'}}
    </h4>
  </div>
  <div class="modal-body">
    <p class="text-center">{{t 'profileModal.text'}}</p>
    <div class="text-center">
      <button {{action create 'W'}} class="btn btn-primary mrs">
        {{t 'profileModal.wantToBeWwoofer'}}
      </button>
      <button {{action create 'H'}} class="btn btn-primary">
        {{t 'profileModal.wantToBeHost'}}
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <small>{{t 'profileModal.details'}}</small>
  </div>
{{/modal-dialog}}
