{{#modal-dialog close=close translucentOverlay=true}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action close}} aria-label={{t 'literal.close'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      {{t 'review-modal.title'}}
    </h4>
  </div>
  <div class="modal-body">
    <strong>{{t 'review-modal.communityGuidelines'}}</strong>
    <ul>
      <li>{{t 'review-modal.guideline1'}}</li>
      <li>{{t 'review-modal.guideline2'}}</li>
      <li>{{t 'review-modal.guideline3'}}</li>
      <li>{{t 'review-modal.guideline4'}}</li>
    </ul>
    {{#forms/form-group valuePath='review.text' as |showError|}}
      <label for="text" class="control-label">{{t 'review-modal.yourReview'}}</label>

      {{textarea id='text' name='text' value=review.text class='form-control' rows='7'}}
      {{error-display error=validations.attrs.review.text showError=showError}}
    {{/forms/form-group}}
    <small>{{t 'review-modal.approval'}}</small>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" {{action submitReview review}} disabled={{review.isSaving}}>
      {{#if review.isNew}}
        {{t 'review-modal.postReview'}}
      {{else}}
        {{t 'literal.save'}}
      {{/if}}
    </button>
  </div>
{{/modal-dialog}}
