<span class={{if review.hasFiveStars 'selected'}} onclick={{action 'setRating' 5}}>☆</span>
<span class={{if review.hasFourStars 'selected'}} onclick={{action 'setRating' 4}}>☆</span>
<span class={{if review.hasThreeStars 'selected'}} onclick={{action 'setRating' 3}}>☆</span>
<span class={{if review.hasTwoStars 'selected'}} onclick={{action 'setRating' 2}}>☆</span>
<span class={{if review.hasOneStar 'selected'}} onclick={{action 'setRating' 1}}>☆</span>
