<td>{{#link-to 'user.index' user.id}}{{user.fullName}}{{/link-to}}</td>
<td>{{user.email}}</td>
<td>{{moment-format user.createdAt 'll'}}</td>
<td class="text-center">
  {{#if user.hasWwooferMemberships}}
    {{#link-to 'user.index' user.id}}
      {{profile-status type='wwoofer' user=user}}
    {{/link-to}}
  {{/if}}
</td>
<td class="text-center">
  {{#if user.host}}
    {{#link-to 'host.index' user.host.id}}
      {{profile-status type='host' user=user}}
    {{/link-to}}
  {{/if}}
</td>
<td>
  {{#link-to 'user.edit' user.id class='list-action mrx'}}
    <span class="glyphicon glyphicon-pencil" title={{t 'literal.edit'}}></span>
  {{/link-to}}
  {{#link-to 'memberships.index' (query-params userId=user.id) class='list-action mrx'}}
    <span class="glyphicon glyphicon-euro" title={{t 'literal.memberships'}}></span>
  {{/link-to}}
  <span class="glyphicon glyphicon-eye-open list-action" title={{t 'user-item.impersonate'}} onclick={{action impersonate user.email}}></span>
</td>
