<td>{{user.firstName}}</td>
<td>{{user.lastName}}</td>
<td>{{format-date user.createdAt}}</td>
<td>
    {{#if user.wwoofer}}
        {{#link-to 'wwoofer.edit' user.wwoofer.id}}
            {{profile-status type="wwoofer" user=user}}
        {{/link-to}}
    {{/if}}
</td>
<td>
    {{#if user.host}}
        {{#link-to 'host.edit' user.host.id}}
            {{profile-status type="host" user=user}}
        {{/link-to}}
    {{/if}}
</td>
<td>
    {{#link-to 'user.edit' user.id}}
        {{t 'literal.edit'}}
    {{/link-to}}
        |
    {{#link-to 'user.memberships' user.id}}
        {{t 'literal.memberships'}}
    {{/link-to}}
</td>
