<td>{{user.fullName}}</td>
<td>{{user.email}}</td>
<td>{{format-date user.createdAt}}</td>
<td class="text-center">
    {{#if user.wwoofer}}
        {{#link-to 'wwoofer.edit' user.wwoofer.id}}
            {{profile-status type="wwoofer" user=user}}
        {{/link-to}}
    {{/if}}
</td>
<td class="text-center">
    {{#if user.host}}
        {{#link-to 'host.edit' user.host.id}}
            {{profile-status type="host" user=user}}
        {{/link-to}}
    {{/if}}
</td>
<td>
    {{#link-to 'user.edit' user.id}}{{t 'literal.edit'}}{{/link-to}} |
    {{#link-to 'memberships.index' (query-params userId=user.id)}}{{t 'literal.memberships'}}{{/link-to}}
    {{!--|
    <a href="#" {{action "impersonateUser"}} disabled={{isLoading}}>{{t 'impersonate.button'}}</a>--}}
</td>
