<div class="panel {{panelClass}}">
    <div class="panel-heading">
        {{t 'wwoofer.membership-status.title'}}
    </div>
    <div class="panel-body">
        {{#if membershipsService.hasWwoofMemberships}}
            {{#if membershipsService.latestWwoofMembership.isStillValidInAMonth}}
                {{t 'wwoofer.membership-status.valid'}}
            {{else}}
                <p>
                    {{t 'wwoofer.membership-status.yourWwooferMembership'}}
                    {{#if membershipsService.latestWwoofMembership.isExpired}}
                        {{t 'wwoofer.membership-status.isExpiredSince'}}
                    {{else}}
                        {{t 'wwoofer.membership-status.willExpire'}}
                    {{/if}}
                    {{format-date membershipsService.latestWwoofMembership.expireAt}}.
                    {{t 'wwoofer.membership-status.keepAccess'}}
                </p>
                {{#link-to 'memberships.new' (query-params type='W' itemCode='WO1') class="btn btn-warning btn-block"}}
                    {{t 'wwoofer.membership-status.renewMembership'}}
                {{/link-to}}
            {{/if}}
        {{else}}
            <p>
                {{t 'wwoofer.membership-status.profileComplete'}}
            </p>
            {{#link-to 'memberships.new' (query-params type='W' itemCode='WO1') class="btn btn-warning btn-block"}}
                {{t 'wwoofer.membership-status.payMembership'}}
            {{/link-to}}
        {{/if}}
    </div>
</div>