<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'wwoofer-contact-details.phoneNumbers'}}</h3>
  </div>
  <div class="panel-body">
    {{#forms/form-group valuePath='user.phone' validations=validations as |showError|}}
      <label for="phone" class="col-sm-2 control-label">{{t 'wwoofer-contact-details.phone.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='phone' name='phone' value=wwoofer.user.phone class='form-control' placeholder=(t 'wwoofer-contact-details.phone.placeholder')}}
        {{error-display error=validations.attrs.user.phone showError=showError}}
      </div>
    {{/forms/form-group}}
    {{#forms/form-group valuePath='wwoofer.emergencyPhone' validations=validations as |showError|}}
      <label for="emergencyPhone" class="col-sm-2 control-label">{{t 'wwoofer-contact-details.emergencyPhone.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' id='emergencyPhone' name='emergencyPhone' value=wwoofer.emergencyPhone class='form-control' placeholder=(t 'wwoofer-contact-details.phone.placeholder')}}
        {{error-display error=validations.attrs.wwoofer.emergencyPhone showError=showError}}
      </div>
    {{/forms/form-group}}
    <div class="col-sm-offset-2 col-sm-10">
      <p class="form-details">
        {{t 'wwoofer-contact-details.emergencyPhone.instructions'}}
      </p>
    </div>
  </div>
</div>
