<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'wwoofer-contact-details.phoneNumbers'}}</h3>
  </div>
  <div class="panel-body">
    <div class="form-group {{if wwoofer.user.fieldErrors.phone.length 'has-error'}}">
      <label for="phone" class="col-sm-2 control-label">{{t 'wwoofer-contact-details.phone.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' name='phone' value=wwoofer.user.phone class='form-control' placeholder=(t 'wwoofer-contact-details.phone.placeholder')}}
        {{error-display errors=wwoofer.user.fieldErrors.phone}}
      </div>
    </div>
    <div class="form-group {{if wwoofer.fieldErrors.emergencyPhone.length 'has-error'}}">
      <label for="phone" class="col-sm-2 control-label">{{t 'wwoofer-contact-details.emergencyPhone.label'}}</label>

      <div class="col-sm-10">
        {{input type='text' name='emergency-phone' value=wwoofer.emergencyPhone class='form-control' placeholder=(t 'wwoofer-contact-details.phone.placeholder')}}
        {{error-display errors=wwoofer.fieldErrors.emergencyPhone}}
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-10">
      <p class="form-details">
        {{t 'wwoofer-contact-details.emergencyPhone.instructions'}}
      </p>
    </div>
  </div>
</div>
