<div class="row host-index-row">
  <div id="resultList" class="col-md-7">
    <form class="form-horizontal">

      <h4 class="sr-only">{{t 'hosts.index.find'}}</h4>

      <div class="form-group">
        <label class="col-sm-2 control-label">
          {{t 'hosts.index.dates'}}
        </label>
        <div class="col-xs-12 col-sm-4 form-control-search-months">
          {{#power-select-multiple
          selected=selectedMonths
          options=monthsService.allMonths
          searchField='label'
          placeholder=(t 'hosts.index.months.prompt')
          onchange=(action 'chooseMonths')
          as |month|}}
            <span class="text-capitalize">{{month.label}}</span>
          {{/power-select-multiple}}
        </div>
        <div class="col-xs-6 col-sm-3 form-control-search-capacity">
          {{#power-select
          selected=selectedCapacity
          options=capacitiesService.allCapacities
          searchEnabled=false
          onchange=(action 'chooseCapacity')
          as |capacity|}}
            {{capacity.label}}
          {{/power-select}}
        </div>
        <div class="col-xs-6 col-sm-3 plx">
          {{#power-select
          selected=selectedStay
          options=staysService.allStays
          searchEnabled=false
          allowClear=true
          placeholder=(t 'hosts.index.stay.prompt')
          onchange=(action 'chooseStay')
          as |stay|}}
            {{stay.label}}
          {{/power-select}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          {{t 'hosts.index.lodging.label'}}
        </label>
        <div class="col-sm-10 toggle-options-cols">
          {{toggle-options
              values=lodgingsService.allLodgings
              selected=lodgings
              optionValuePath='id'
              onchange='updateHosts'}}
        </div>
      </div>
      {{#if showMoreFilter}}

        <div class="form-group">
          <label class="col-sm-2 control-label">
            {{t 'hosts.index.activities'}}
          </label>
          <div class="col-sm-10 toggle-options-cols">
            {{toggle-options
                values=activitiesService.allActivities
                selected=activities
                optionValuePath='id'
                onchange='updateHosts'}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            {{t 'hosts.index.department.label'}}
          </label>
          <div class="col-xs-12 col-sm-10">
            {{forms/department-select
            department=selectedDepartment
            allowClear=true
            onchange=(action 'chooseDepartment')}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            {{t 'hosts.index.other.label'}}
          </label>
          <div class="col-sm-10 toggle-options-cols">
            <label for="childrenOk" class="checkbox-inline">
              <input type="checkbox" id="childrenOk" checked={{childrenOk}} onclick={{action "toggleChildrenOk"}} />
              {{t 'hosts.index.childrenOk.label'}}
              {{tool-tip title=(t 'host.index.childrenOk.tooltip') class='mlx'}}
            </label>
            <label for="petsOk" class="checkbox-inline">
              <input type="checkbox" id="petsOk" checked={{petsOk}} onclick={{action "togglePetsOk"}} />
              {{t 'hosts.index.petsOk.label'}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="searchTerm" class="col-sm-2 control-label">
            {{t 'literal.search'}}
          </label>
          <div class="col-sm-10">
            {{input class="form-control"
            type="search"
            id="searchTerm"
            placeholder=(t 'hosts.index.searchTerm.placeholder')
            value=searchTerm
            enter='updateHosts'}}
          </div>
        </div>

        {{#if sessionUser.user.isAdmin}}
          <div class="form-group">
            <label class="col-sm-2 control-label">
              {{t 'hosts.index.approvalStatus.label'}}
            </label>
            <div class="col-sm-10 radio-options-cols">
              {{#radio-button value="approved" groupValue=approvalStatus changed='updateHosts' classNames="radio-inline"}}
                {{t 'hosts.index.approved.label'}}
              {{/radio-button}}
              {{#radio-button value="rejected" groupValue=approvalStatus changed='updateHosts' classNames="radio-inline"}}
                {{t 'hosts.index.rejected.label'}}
              {{/radio-button}}
              {{#radio-button value="pending" groupValue=approvalStatus changed='updateHosts' classNames="radio-inline"}}
                {{t 'hosts.index.pending.label'}}
              {{/radio-button}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              {{t 'hosts.index.membershipStatus.label'}}
            </label>
            <div class="col-sm-10 radio-options-cols">
              {{#radio-button value="valid" groupValue=membershipStatus changed='updateHosts' classNames="radio-inline"}}
                {{t 'hosts.index.valid.label'}}
              {{/radio-button}}
              {{#radio-button value="expired" groupValue=membershipStatus changed='updateHosts' classNames="radio-inline"}}
                {{t 'hosts.index.expired.label'}}
              {{/radio-button}}
              {{#radio-button value="none" groupValue=membershipStatus changed='updateHosts' classNames="radio-inline"}}
                {{t 'hosts.index.none.label'}}
              {{/radio-button}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              {{t 'hosts.index.flags.label'}}
            </label>
            <div class="col-sm-10 toggle-options-cols">
              <label for="isSuspended" class="checkbox-inline">
                <input type="checkbox" id="isSuspended" checked={{isSuspended}} onclick={{action "toggleIsSuspended"}} />
                {{t 'hosts.index.suspended.label'}}
              </label>
              <label for="isHidden" class="checkbox-inline">
                <input type="checkbox" id="isHidden" checked={{isHidden}} onclick={{action "toggleIsHidden"}} />
                {{t 'hosts.index.hidden.label'}}
              </label>
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" {{action 'applyFilters'}} class="btn btn-primary">
              {{t 'literal.done'}}
            </button>
          </div>
        </div>
      {{else}}
        <hr class="mvs">
        <div class="row mbs">
          <div class="col-xs-12">
            <button {{action 'toggleAdvancedFilters'}} class="btn btn-primary">
              <span class="glyphicon glyphicon-filter mrx"></span>
              {{t 'hosts.index.moreFilters'}}
            </button>
            <button {{action 'toggleFavoritesOnly'}} class="btn btn-default {{if favoritesOnly 'active'}}">
              <span class="glyphicon glyphicon-heart mrx"></span>
              {{t 'hosts.index.favoritesOnly'}}
            </button>
            <ul class="pull-right mts nav nav-pills" role="tablist">
              <li role="presentation" class="active">
                {{t 'hosts.index.resultCount' count=hostCoordinates.features.length}}
              </li>
            </ul>
          </div>
        </div>
      {{/if}}
    </form>
    {{#unless showMoreFilter}}
      {{#if isLoading}}
        {{partial 'loading'}}
      {{else}}
        {{#if featuresInList}}
          <div class="row">
            {{#each featuresInList as |feature|}}
              <div class="col-xs-12 col-sm-6 col-host-item">
                {{host-item
                hostId=feature.properties.hostId
                userFavorites=sessionUser.user.favorites
                addFavorite='addFavorite'
                removeFavorite='removeFavorite'}}
              </div>
            {{/each}}
          </div>
          <p class="text-center">
            {{list-pagination currentPage=page totalPages=totalPages targetRoute='hosts'}}
          </p>
        {{else}}
          <p class="text-center mtl"><strong>{{t 'hosts.index.noResults'}}</strong></p>
          {{#if showDisableSyncButton}}
            <button class="btn btn-sm btn-default center-block" {{action 'toggleSyncMapAndList'}}>
              {{t 'hosts.index.disableMapAndListSync'}}
            </button>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/unless}}
  </div>
  {{#if showMap}}
    <div id="resultMap" class="col-md-5 phn">
      {{#leaflet-map
      markers=hostCoordinates
      longitude=lon
      latitude=lat
      zoom=zoom
      mapMoved='mapMoved'
      visibleFeaturesChanged='visibleFeaturesChanged'}}
        <div class="checkbox leaflet-map-checkbox">
          <label for="syncMapAndList">
            {{input type="checkbox" id="syncMapAndList" checked=syncMapAndList}}
            {{t 'hosts.index.syncMapAndList.label' count=featuresOnMap.length}}
          </label>
          {{tool-tip title=(t 'hosts.index.syncMapAndList.tooltip') position='bottom' class='mlx'}}
        </div>
      {{/leaflet-map}}
    </div>
  {{/if}}
</div>
