<div class="row">
    <div class="col-md-3">
        <form class="form" role="form">
            <div class="form-group">
                <label class="sr-only" for="searchTerm">Email address</label>
                {{input type="text" class="form-control" id="searchTerm" placeholder="Contact" value=searchTerm action="searchProjects"}}
            </div>
            <div class="form-group">
                <div class="dropdown-item">
                    {{view Ember.Select
                    class="form-control"
                    prompt="Department"
                    optionLabelPath="content.name"
                    content=departmentFilterOptions
                    value=departmentFilter}}
                </div>
            </div>
            {{#if currentUserIsAdmin}}
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" name="pendingOnly" checked=pendingOnly}}
                        Pending Only
                    </label>
                </div>
            {{/if}}
            <button {{action "searchHosts"}} class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-md-9">
        <div class="list-group">
            {{#each itemController="host.index"}}
                {{#link-to "host" model title=farmName class="list-group-item"}}
                    <div class="row farm">
                        <div class="col-md-3">
                            <div class="host-thumb">
                                {{#if photos.length}}
                                    <img {{bind-attr src="mainPhoto.completeUrl"}} />
                                {{else}}
                                    <img src="wwoof-no-photo.png"/>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-9 farm-item">
                            <div class="pull-right">
                                <button class="btn btn-default btn-view">VIEW</button>
                            </div>
                            <h3>{{farmName}}</h3>
                            <span class="host-name">{{user.firstName}} <span class="last-name">{{user.lastName}}</span></span>
                            <br>{{shortDescription}}
                            <br><span class="address"><i>{{address.city}}, {{address.department.name}}</i></span>
                        </div>

                    </div>
                {{/link-to}}
            {{/each}}
            <p class="load-more">
                <button {{action "loadMoreHosts"}} class="btn btn-default">Load more!</button>
                <p class="load-more">Total: {{totalHosts}}</p>
            </p>
        </div>
    </div>
</div>