<div class="row">
    <div class="col-md-4 col-sm-12 search-box">
        <form class="form" role="form">
            <div class="form-group">
                <label class="sr-only" for="searchTerm">Email address</label>
                {{input type="text" class="form-control" id="searchTerm" placeholder="Contact" value=searchTerm action="searchProjects"}}
            </div>
            <div class="form-group">
                <div class="dropdown-item">
                    {{view Ember.Select
                    class="form-control"
                    prompt="Department"
                    optionLabelPath="content.name"
                    content=departmentFilterOptions
                    value=departmentFilter}}
                </div>
            </div>
            <h4>Activities</h4>
            {{toggle-options values=allActivities selected=selectedActivities}}
            {{#if currentUserIsAdmin}}
                <h4>Admin</h4>
                <div class="checkbox">
                    <label>
                        {{input type="checkbox" name="pendingOnly" checked=pendingOnly}}
                        Pending Only
                    </label>
                </div>
            {{/if}}
            <button {{action "searchHosts"}} {{bind-attr disabled=isLoading}} class="btn btn-primary">
                {{#if isLoading}}
                    Searching...
                {{else}}
                    Search
                {{/if}}
            </button>
        </form>
    </div>
    <div class="col-md-8 col-sm-12 results-box">
        <div class="list-group">
            {{#each itemController="host.index"}}
                {{#link-to "host" model title=farmName class="list-group-item"}}
                    <div class="row farm">
                        <div class="col-md-5">
                            <div class="host-thumb">
                                {{#if photos.length}}
                                    <img {{bind-attr src="mainPhoto.completeUrl"}} />
                                {{else}}
                                    <img src="wwoof-no-photo.png"/>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-md-7 farm-item">
                            <h3>{{farmName}}</h3>
                            <span class="host-name">{{user.firstName}} <span class="last-name">{{user.lastName}}</span></span>
                            <br>{{trim-string fullDescription start=0 max=100}}
                            <br><span class="address"><i>{{address.city}}, {{address.department.name}}</i></span>

                            <div class="col-md-6 col-sm-12 view-btn">
                                <button class="btn btn-default btn-block">VIEW</button>
                            </div> 
                        </div>
                    </div>
                {{/link-to}}
            {{/each}}
            <p class="load-more">
                <button {{action "loadMoreHosts"}} {{bind-attr disabled=isLoading}} class="btn btn-default">
                    Load more
                </button>
            <p class="load-more">Total: {{totalHosts}}</p>
        </div>
    </div>
</div>