<div class="row host-index-row">
  <div id="resultList" class="col-md-7">
    <form class="form-horizontal">

      <h4 class="sr-only">{{t 'hosts.index.find'}}</h4>

      <div class="form-group">
        <label class="col-sm-2 control-label">
          Dates
        </label>
        <div class="col-xs-12 col-sm-4 form-control-margin-bottom-xs">
          {{#power-select
          selected=selectedMonths
          options=monthsService.allMonths
          searchField='label'
          onchange=(action 'chooseMonths')
          multiple=true
          as |month|}}
            <span class="text-capitalize">{{month.label}}</span>
          {{/power-select}}
        </div>
        <div class="col-xs-6 col-sm-3">
          {{#power-select
          selected=selectedCapacity
          options=capacitiesService.allCapacities
          searchEnabled=false
          onchange=(action 'chooseCapacity')
          as |capacity|}}
            <span class="text-capitalize">{{capacity.label}}</span>
          {{/power-select}}
        </div>
        <div class="col-xs-6 col-sm-3">
          {{#power-select
          selected=selectedStay
          options=staysService.allStays
          searchEnabled=false
          onchange=(action 'chooseStay')
          as |stay|}}
            <span class="text-capitalize">{{stay.label}}</span>
          {{/power-select}}
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">
          {{t 'hosts.index.activities'}}
        </label>
        <div class="col-sm-10 toggle-options-cols">
          {{toggle-options values=activitiesService.allActivities selected=activities optionValuePath='id'}}
        </div>
      </div>
      {{#if showMoreFilter}}

        <div class="form-group">
          <label class="col-sm-2 control-label">
            Region
          </label>
          <div class="col-xs-12 col-sm-10">
            {{forms/department-select
            department=selectedDepartment
            allowClear=true
            onchange=(action 'chooseDepartment')}}
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">
            Lodging
          </label>
          <div class="col-sm-10 toggle-options-cols">
            <label for="childrenOk" class="checkbox-inline">
              {{input type="checkbox" id="childrenOk" checked=childrenOk}}
              {{t 'hosts.index.childrenOk.label'}}
            </label>
            <label for="petsOk" class="checkbox-inline">
              {{input type="checkbox" id="petsOk" checked=petsOk}}
              {{t 'hosts.index.petsOk.label'}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="searchTerm" class="col-sm-2 control-label">
            {{t 'literal.search'}}
          </label>
          <div class="col-sm-10">
            {{input class="form-control" type="search"  id="searchTerm" placeholder=(t 'hosts.index.searchTerm.placeholder') value=searchTerm enter="updateHosts"}}
          </div>
        </div>

        {{#if sessionUser.user.isAdmin}}
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Status
            </label>
            <div class="col-sm-10 radio-options-cols">
                {{#radio-button value="pending" groupValue=approvalStatus classNames="radio-inline"}}
                  {{t 'hosts.index.pending.label'}}
                {{/radio-button}}
                {{#radio-button value="approved" groupValue=approvalStatus classNames="radio-inline"}}
                  {{t 'hosts.index.approved.label'}}
                {{/radio-button}}
                {{#radio-button value="rejected" groupValue=approvalStatus classNames="radio-inline"}}
                  {{t 'hosts.index.rejected.label'}}
                {{/radio-button}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Membership
            </label>
            <div class="col-sm-10 radio-options-cols">
              {{#radio-button value="valid" groupValue=membershipStatus classNames="radio-inline"}}
                {{t 'hosts.index.valid.label'}}
              {{/radio-button}}
              {{#radio-button value="expired" groupValue=membershipStatus classNames="radio-inline"}}
                {{t 'hosts.index.expired.label'}}
              {{/radio-button}}
              {{#radio-button value="none" groupValue=membershipStatus classNames="radio-inline"}}
                {{t 'hosts.index.none.label'}}
              {{/radio-button}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">
              Flags
            </label>
            <div class="col-sm-10 toggle-options-cols">
              <label for="isSuspended" class="checkbox-inline">
                {{input type="checkbox" id="isSuspended" checked=isSuspended}}
                {{t 'hosts.index.suspended.label'}}
              </label>
              <label for="isHidden" class="checkbox-inline">
                {{input type="checkbox" id="isHidden" checked=isHidden}}
                {{t 'hosts.index.hidden.label'}}
              </label>
            </div>
          </div>
        {{/if}}
        <div class="form-group">
          <div class="col-xs-12">
            <button {{action 'toggleFilters'}} class="btn btn-default pull-right">
              Cancel
            </button>
          </div>
        </div>
      {{else}}
        <hr class="mvs">
        <p>
          <button {{action 'toggleFilters'}} class="btn btn-primary">
            More Filters
          </button>
          <button {{action 'moreHosts'}} class="btn btn-default">
            Reset
          </button>
          <ul class="pull-right mts nav nav-pills" role="tablist">
            <li role="presentation" class="active">
              <strong>Search returned <span class="badge">{{hostCoordinates.features.length}}</span> hosts.</strong>
            </li>
          </ul>
        </p>
      {{/if}}
    </form>
    {{#unless showMoreFilter}}
      {{#if isLoading}}
        {{partial 'loading'}}
      {{else}}
        {{#if hasVisibleFeatures}}
          <div class="row">
            {{#each featuresInList as |feature|}}
              <div class="col-xs-12 col-sm-6 col-host-item">
                {{host-item host=feature}}
              </div>
            {{/each}}
          </div>
          <p>
            <button {{action "moreHosts"}} class="btn btn-default center-block" disabled={{cannotLoadMore}}>
              {{t 'literal.loadMore'}}
            </button>
          </p>
        {{else}}
          <p class="text-center"><strong>{{t 'hosts.index.noResults'}}</strong></p>
        {{/if}}
      {{/if}}
    {{/unless}}
  </div>
  {{#if showMap}}
    <div id="resultMap" class="col-md-5 phn">
      {{leaflet-map
      markers=hostCoordinates
      longitude=lon
      latitude=lat
      zoom=mapZoom
      mapMoved='mapMoved'
      visibleFeaturesChanged='visibleFeaturesChanged'}}
    </div>
  {{/if}}
</div>
