<div class="page-header">
    <h1>{{farmName}}
        <small>{{contact}}</small>
    </h1>
</div>

<form>

    <div class="row">
        <div class="col-md-6">

            <div {{bind-attr class=":form-group"}}>
                <label for="farm-name" class="control-label">Farm Name</label>
                {{input type="text" id="farm-name" name="farm-name" value=farmName class="form-control" placeholder="La Ferme de M. Seguin"}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="address" class="control-label">Address 1</label>
                {{input type="text" id="address1" name="address1" value=address.address1 class="form-control" placeholder="Numéro et nom de rue, chemin, hameau"}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="address" class="control-label">Address 2</label>
                {{input type="text" id="address2" name="address2" value=address.address2 class="form-control" placeholder="Numéro et nom de rue, chemin, hameau"}}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div {{bind-attr class=":form-group"}}>
                        <label for="zipCode" class="control-label">Zip Code</label>
                        {{input type="text" id="zipCode" name="zipCode" value=address.zipCode class="form-control" placeholder="Code postal"}}
                    </div>
                </div>
                <div class="col-md-8">
                    <div {{bind-attr class=":form-group"}}>
                        <label for="city" class="control-label">City</label>
                        {{input type="text" id="city" name="city" value=address.city class="form-control" placeholder="Ville"}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div {{bind-attr class=":form-group"}}>
                        <label for="country" class="control-label">Country</label>
                        {{view Ember.Select
                        content=controllers.countries.content
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        selection=address.country
                        class="form-control"
                        name="country"
                        prompt="Select a country"}}
                    </div>
                </div>
                {{#if address.country.countryIsFrance}}
                    <div class="col-md-6">
                        <div {{bind-attr class=":form-group"}}>
                            <label for="department" class="control-label">Department</label>
                            {{view Ember.Select
                            content=controllers.departments.content
                            optionValuePath="content.id"
                            optionLabelPath="content.name"
                            selection=address.department
                            class="form-control"
                            name="department"}}
                        </div>
                    </div>
                {{else}}
                    <div class="col-md-6">
                        <div {{bind-attr class=":form-group"}}>
                            <label for="state" class="control-label">State / Region</label>
                            {{input type="text" id="state" name="state" value=address.state class="form-control" placeholder="State"}}
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="col-md-6">
            <div {{bind-attr class=":form-group"}}>
                <label for="web" class="control-label">Website</label>
                {{input type="text" id="webSite" name="webSite" value=webSite class="form-control" placeholder="http://www.ma-page-perso.fr"}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="shortDescription" class="control-label">Short description</label>
                {{input type="text" id="shortDescription" name="shortDescription" value=shortDescription class="form-control" placeholder="Ferme biologique au coeur des Alpes"}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="travel" class="control-label">Travel</label>
                {{input type="text" id="travelDetails" name="travelDetails" value=travelDetails class="form-control" placeholder="Peut aller chercher à la gare de ..."}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div {{bind-attr class=":form-group"}}>
                <label for="entry" class="control-label">Full description</label>
                {{textarea id="fullDescription" name="fullDescription" value=fullDescription class="form-control" placeholder=""}}
            </div>
        </div>
    </div>

    <button {{action "saveHost"}} class="btn btn-default">Save</button>

</form>

<hr/>

<h3>Add a photo</h3>

<form class="row" {{action "addPhoto" on="submit"}}>
    <div class="form-group">
        <label for="file_upload" class="control-label">Pick a file</label>
        <input id="file_upload" type="file" name="files[]" data-url="/api/photos" multiple>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</form>

<hr/>

<h3>Edit or remove a photo</h3>

{{#if photos}}
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Photo</td>
            <td>Caption</td>
            <td>Actions</td>
        </tr>
        </thead>
        <tbody>
        {{#each photos}}
            <tr>
                <td>
                    <div class="host-thumb-small">
                        <img {{bind-attr src="completeUrl"}} />
                    </div>
                </td>
                <td>
                    {{input type="text" name="caption" value=caption class="form-control" placeholder="That is such a great photo!"}}
                </td>
                <td>
                    <a href="#">Save</a> |
                    <a href="#">Delete</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <p>No photo yet!</p>
{{/if}}
