<div class="row mbm">
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{t 'conversations.index.search'}}</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="searchTerm">{{t 'conversations.index.search.label'}}</label>
            {{input type='text'
                    id='searchTerm'
                    class='form-control'
                    value=searchTerm
                    placeholder='Pat Dunn / patd@gmail.com'
                    enter='search'}}
          </div>
          <button {{action 'search'}} class="btn btn-block btn-primary" disabled={{isLoading}}>
            {{t 'literal.search'}}
          </button>
        </form>
      </div>
    </div>
    {{!-- help-articles label='host-message' --}}
  </div>

  <div class="col-xs-12 col-md-9">
    {{#if isLoading}}
      {{partial 'loading'}}
    {{else}}
      {{#if conversations}}
        <ul class="list-group">
          {{#each conversations as |conversation|}}
            <li class="list-group-item conversation-item {{unless conversation.isRead 'conversation-unread'}}">
              <div class="row">
                <div class="col-xs-2 col-sm-1">
                  {{#link-to 'conversation.index' conversation.id}}
                    <img class="img-circle" src={{conversation.otherUser.conversationUrlThumb1}}>
                  {{/link-to}}
                </div>
                <div class="col-xs-10 col-sm-11">
                  <div class="row">
                    <div class="col-xs-12 col-sm-2">
                      <p>
                        <strong>{{conversation.otherUser.firstName}}</strong><br class="hidden-xs"/>
                        {{#if conversation.sortedMessages.firstObject.createdAt}}
                          <span class="small {{if media.isMobile 'pull-right'}}">
                            {{moment-format conversation.sortedMessages.firstObject.createdAt 'll'}}
                          </span>
                        {{/if}}
                      </p>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                      {{#link-to 'conversation.index' conversation.id class='conversation-link'}}
                        <p class="conversation-text">{{truncate conversation.sortedMessages.firstObject.text limit=200}}</p>
                      {{/link-to}}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
        <p class="text-center">
          {{list-pagination currentPage=page totalPages=totalPages targetRoute='conversations'}}
        </p>
      {{else}}
        <div class="jumbotron">
          <h1>{{t 'conversations.index.hello' firstName=sessionUser.user.firstName}}</h1>
          <p>{{t 'conversations.index.noMessages'}}</p>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
