<div class="page-header">
  <h1>
    {{t 'users.index.title'}}
  </h1>
</div>

<div class="row mbm">
  <div class="col-xs-12">
    <form class="form-inline">
      <div class="checkbox">
        <label>
          {{input type="checkbox" checked=isSuspended}}
          {{t 'users.index.isSuspended.label'}}
        </label>
      </div>
      <div class="form-group mlm">
        <label for="searchTerm" class="sr-only">{{t 'literals.search'}}</label>
        {{input type="text" class="form-control" id="searchTerm" placeholder=(t 'users.index.search.placeholder') value=searchTerm action="search"}}
      </div>
      <button {{action "search"}} class="btn btn-primary" disabled={{isLoading}}>
      {{t 'literal.search'}}
      </button>
    </form>
  </div>
</div>

<div class="row mbm">
  <div class="col-xs-12">
    {{#if isLoading}}
      {{partial 'loading'}}
    {{else}}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>{{t 'users.index.fullName'}}</th>
            <th>{{t 'literal.email'}}</th>
            <th>{{t 'users.index.createdAt'}}</th>
            <th class="text-center">{{t 'users.index.hasWwoofer'}}</th>
            <th class="text-center">{{t 'users.index.hasHost'}}</th>
            <th>{{t 'users.index.actions'}}</th>
          </tr>
          </thead>
          <tbody>
          {{#each users as |user|}}
            {{user-item user=user}}
          {{/each}}
          </tbody>
        </table>

        <p class="text-center">
          {{list-pagination currentPage=page totalPages=totalPages targetRoute='users'}}
        </p>
      </div>
    {{/if}}
  </div>
</div>
