<div class="page-header">
    {{#if isNew}}
        <h1>Join Our Community Today!</h1>
        <p>
            Sign up today to gain full access to the WWOOF France community.
            Have an account? {{#link-to 'login'}}Log in!{{/link-to}}
        </p>
    {{else}}
        <h1>My Account</h1>
    {{/if}}
</div>
<form>
    <div class="row">
        <div class="col-md-6">
            <div {{bind-attr class=":form-group fieldErrors.firstName.length:has-error"}}>
                <label for="firstName" class="control-label">First Name</label>
                {{input type="text" id="firstName" name="firstName" value=firstName class="form-control"}}
                {{error-display fieldErrors.firstName}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.lastName.length:has-error"}}>
                <label for="lastName" class="control-label">Last Name</label>
                {{input type="text" id="lastName" name="lastName" value=lastName class="form-control"}}
                {{error-display fieldErrors.lastName}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.birthDate.length:has-error"}}>
                <label for="birthDate" class="control-label">Birth date</label>
                {{date-picker value=birthDate}}
                {{error-display fieldErrors.birthDate}}
            </div>
        </div>
        <div class="col-md-6">
            <div {{bind-attr class=":form-group fieldErrors.email.length:has-error"}}>
                <label for="email" class="control-label">Email Address</label>
                {{input type="email" id="email" name="email" value=email class="form-control"}}
                {{error-display fieldErrors.email}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.password.length:has-error"}}>
                <label for="password" class="control-label">Password</label>
                {{#unless isNew}}
                    ({{#link-to 'user.change-password' id}}change my password{{/link-to}})
                {{/unless}}
                {{input type="password" id="password" name="password" value=password disabled=disablePasswordField class="form-control"}}
                {{error-display fieldErrors.password}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-tn-12 float-r-xs">
            {{#if isNew}}
                <button {{action "saveUser"}} {{bind-attr disabled="isSaving"}} class="btn btn-primary btn-block-tn">Register</button>
            {{else}}
                <button {{action "saveUser"}} {{bind-attr disabled="isSaving"}} class="btn btn-primary btn-block-tn">Save</button>
            {{/if}}
        </div>
    </div>
</form>