<div class="page-header">
    {{#if isNew}}
        <h1>Join Our Community Today!</h1>
    {{else}}
        <h1>My Account</h1>
    {{/if}}
</div>
<form>
    <div class="row">
        <div class="col-md-6">
            <div {{bind-attr class=":form-group fieldErrors.firstName.length:has-error"}}>
                <label for="firstName" class="control-label">First Name</label>
                {{input type="text" id="firstName" name="firstName" value=firstName class="form-control" placeholder="First name"}}
                {{error-display fieldErrors.firstName}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.lastName.length:has-error"}}>
                <label for="lastName" class="control-label">Last Name</label>
                {{input type="text" id="lastName" name="lastName" value=lastName class="form-control" placeholder="Last name"}}
                {{error-display fieldErrors.lastName}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.birthDate.length:has-error"}}>
                <label for="birthDate" class="control-label">Birth date</label>
                {{date-picker value=birthDate}}
                {{error-display fieldErrors.birthDate}}
            </div>
        </div>
        <div class="col-md-6">
            <div {{bind-attr class=":form-group fieldErrors.email.length:has-error"}}>
                <label for="email" class="control-label">Email Address</label>
                {{input type="text" id="email" name="email" value=email class="form-control" placeholder=""}}
                {{error-display fieldErrors.email}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.password.length:has-error"}}>
                <label for="password" class="control-label">Password</label>
                {{input type="password" id="password" name="password" value=password class="form-control" placeholder=""}}
                {{error-display fieldErrors.password}}
            </div>
        </div>
    </div>
    {{#if isNew}}
        <button {{action "saveUser"}} {{bind-attr disabled="isSaving"}} class="btn btn-primary">Register</button>
    {{else}}
        <button {{action "saveUser"}} {{bind-attr disabled="isSaving"}} class="btn btn-primary">Save</button>
    {{/if}}
</form>

{{#unless isNew}}
    <h1>My Membership Status</h1>
    <div class="row">
        <div class="col-md-6">
            <h2>Wwoofer Memberships</h2>
            {{#if wwoofMemberships}}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Payment</th>
                        <th>Amount</th>
                        <th>Expire At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each wwoofMemberships}}
                        <tr>
                            <td>{{itemCode}}</td>
                            <td>{{format-date createdAt}}</td>
                            <td>{{total}} Euro</td>
                            <td>{{format-date expireAt}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <p>
                    You may renew your membership 30 days before it expires.
                    <button {{action "renewWwoofMembership"}} {{bind-attr disabled="wwoofCanRenewMembership"}}
                            class="btn btn-primary">Renew Membership
                    </button>
                </p>
            {{else}}
                You've never taken a membership as a Wwoofer.
            {{/if}}
        </div>
        <div class="col-md-6">
            <h2>Host Memberships</h2>
            {{#if hostMemberships}}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Payment</th>
                        <th>Amount</th>
                        <th>Expire At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each hostMemberships}}
                        <tr>
                            <td>{{itemCode}}</td>
                            <td>{{format-date createdAt}}</td>
                            <td>{{total}} Euro</td>
                            <td>{{format-date expireAt}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <p>
                    You may renew your membership 30 days before it expires.
                    <button {{action "renewHostMembership"}} {{bind-attr disabled="hostCannotRenewMembership"}}
                            class="btn btn-primary">Renew Membership
                    </button>
                </p>
            {{else}}
                You've never taken a membership as a Host.
            {{/if}}
        </div>
    </div>
{{/unless}}