<h1>{{t 'users.new.title'}}</h1>
<h4 class="mtm">
  <small>
    {{t 'users.new.instructions'}}
    {{t 'users.new.haveAccount'}}
    {{#link-to 'login'}}{{t 'users.new.logIn'}}{{/link-to}}
  </small>
</h4>
<div class="row mtl">
  <div class="col-sm-9 ">
    <form class="form-horizontal">
      {{user-form
        user=user
        selectedDate=selectedDate
        termsOk=termsOk
        insuranceOk=insuranceOk
        validations=validations
        dateSelected=(action 'dateSelected')}}

      <div class="form-group mbx">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary pull-right" onclick={{action 'saveUser'}} disabled={{user.isSaving}}>
            {{t 'literal.continue'}} <span class="glyphicon glyphicon-menu-right"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-3 hidden-xs">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-heart mrx"></span>
          {{t 'users.new.loveWwoofing'}}
        </h3>
      </div>
      <div class="panel-body">
        <p>{{t 'users.new.intro1'}}</p>
        <hr/>
        <p>{{t 'users.new.intro2'}}</p>
        <hr/>
        <p>{{t 'users.new.intro3'}}</p>
      </div>
    </div>
  </div>
</div>


