<form class="form-horizontal">

  {{address-form
  address=address
  instructions=instructions
  validations=validations
  countryDidChange=(action 'countryDidChange')
  departmentDidChange=(action 'departmentDidChange')}}

  {{wwoofer-contact-details
  wwoofer=wwoofer}}

  <div class="form-group">
    <div class="col-xs-12">
      <button {{action 'saveAddress'}} disabled={{address.isSaving}} class="btn btn-primary {{if address.isNew 'pull-right'}}">
        {{#if address.isNew}}
          {{t 'literal.continue'}}
        {{else}}
          {{t 'literal.save'}}
        {{/if}}
      </button>
    </div>
  </div>
</form>
