<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon glyphicon-pencil mrx"></span>
          {{t 'wwoofer.contact.message' firstName=wwoofer.user.firstName}}
        </h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          {{#forms/form-group valuePath='message' validations=validations as |showError|}}
            <label for="message" class="col-sm-2 control-label">{{t 'wwoofer.contact.message.label'}}</label>

            <div class="col-sm-10">
              {{textarea id='message' name='message' value=message class='form-control' rows='10'}}
              {{error-display error=validations.attrs.message showError=showError}}
            </div>
          {{/forms/form-group}}
          <div class="form-group mbx">
            <div class="col-sm-offset-2 col-sm-10">
              <button {{action 'sendMessage'}} class="btn btn-primary" disabled={{isSending}}>
                <span class="glyphicon glyphicon-send mrx"></span>
                {{t 'literal.send'}}
              </button>
              {{#link-to 'wwoofer.index' wwoofer.id class='btn btn-default'}}
                {{t 'literal.back'}}
              {{/link-to}}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon glyphicon-download-alt mrx"></span>
          {{t 'documents.usefulDocuments'}}
        </h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-link mrx"></span>
              {{t 'documents.wwooferHandbook'}}
            </td>
            <td>
              <a href="http://docs.wwoof.fr/documents/guide-pratique-wwoofeur.pdf" target="_blank">{{t 'literal.french'}}</a>
            </td>
            <td>
              <a href="http://docs.wwoof.fr/documents/wwoofer-handbook.pdf" target="_blank">{{t 'literal.english'}}</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-link mrx"></span>
              {{t 'documents.wwoofingCharter'}}
            </td>
            <td>
              <a href="http://docs.wwoof.fr/documents/charte-wwoofing.pdf" target="_blank">{{t 'literal.french'}}</a>
            </td>
            <td>
              <a href="http://docs.wwoof.fr/documents/wwoofing-charter.pdf" target="_blank">{{t 'literal.english'}}</a>
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-link mrx"></span>
              {{t 'documents.rulesAndRegulations'}}
            </td>
            <td>
              <a href="http://docs.wwoof.fr/documents/reglement-interieur-wwoofing.pdf" target="_blank">{{t 'literal.french'}}</a>
            </td>
            <td>
              <a href="http://docs.wwoof.fr/documents/wwoofing-rules-and-regulations.pdf" target="_blank">{{t 'literal.english'}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{#if showMessageSentModal}}
  {{#message-sent-modal close=(action 'closeModal')}}
    {{t 'wwoofer.contact.modal.message'}}
  {{/message-sent-modal}}
{{/if}}
