<div class="col-md-10 col-md-offset-1 mbm">
    <div class="page-header">
        <h1>
            {{model.user.fullName}}
            {{#if model.fullName2}}
                <small>{{t 'wwoofer.index.and'}} {{model.fullName2}}</small>
            {{/if}}
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <form class="form-horizontal">
                <div {{bind-attr class=":form-group model.fieldErrors.intro.length:has-error"}}>
                    <label for="intro" class="col-sm-2 control-label">{{t 'wwoofer.form.intro.label'}}</label>
                    <div class="col-sm-10">
                        {{textarea id="intro" name="intro" value=model.intro class="form-control" rows="5"}}
                        {{error-display model.fieldErrors.intro}}
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="form-details">
                        {{t 'wwoofer.form.introInstructions'}}
                    </p>
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.tripMotivation.length:has-error"}}>
                    <label for="tripMotivation" class="col-sm-2 control-label">{{t 'wwoofer.form.tripMotivation.label'}}</label>
                    <div class="col-sm-10">
                        {{textarea id="tripMotivation" name="tripMotivation" value=model.tripMotivation class="form-control" rows="5"}}
                        {{error-display model.fieldErrors.tripMotivation}}
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <h3 class="ruled"><span>
                        {{t 'wwoofer.form.otherWwoofer'}}
                    </span></h3>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="form-details">
                        {{t 'wwoofer.form.otherWwooferInstructions'}}
                    </p>
                </div>
                {{#if canEditOtherWwoofer }}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{input type="checkbox" name="otherWwoofer" checked=secondWwooferChecked}}
                                    {{t 'wwoofer.form.otherWwoofer.label'}}
                                </label>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#unless secondWwooferChecked}}
                        <div class="col-sm-offset-2 col-sm-10">
                            {{t 'wwoofer.form.noOtherWwoofer'}}
                        </div>
                    {{/unless}}
                {{/if}}
                {{#if secondWwooferChecked}}
                    <div {{bind-attr class=":form-group fieldErrors.model.firstName2.length:has-error"}}>
                        <label for="firstName2" class="col-sm-2 control-label">{{t 'user.form.firstName.label'}}</label>
                        <div class="col-sm-10">
                            {{#if canEditOtherWwoofer}}
                                {{input type="text" id="firstName2" name="firstName2" value=model.firstName2 class="form-control"}}
                                {{error-display fieldErrors.model.firstName2}}
                            {{else}}
                                <p class="form-control-static">{{model.firstName2}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div {{bind-attr class=":form-group fieldErrors.model.lastName2.length:has-error"}}>
                        <label for="lastName2" class="col-sm-2 control-label">{{t 'user.form.lastName.label'}}</label>
                        <div class="col-sm-10">
                            {{#if canEditOtherWwoofer}}
                                {{input type="text" id="lastName2" name="lastName2" value=model.lastName2 class="form-control"}}
                                {{error-display fieldErrors.model.lastName2}}
                            {{else}}
                                <p class="form-control-static">{{model.lastName2}}</p>
                            {{/if}}
                        </div>
                    </div>
                    <div {{bind-attr class=":form-group fieldErrors.selectedDate.length:has-error"}}>
                        <label for="birthDate2" class="col-sm-2 control-label">{{t 'user.form.birthDate.label'}}</label>
                        <div class="col-sm-10">
                            {{#if canEditOtherWwoofer}}
                                {{date-picker selectedDate=selectedDate}}
                                {{error-display fieldErrors.selectedDate}}
                            {{else}}
                                <p class="form-control-static">{{format-date model.birthDate2}}</p>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
                <div class="col-sm-offset-2 col-sm-10">
                    <h3 class="ruled"><span>{{t 'wwoofer.form.address'}}</span></h3>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="form-details">
                        {{t 'wwoofer.form.addressInstructions'}}
                    </p>
                </div>
                <div {{bind-attr class=":form-group model.address.fieldErrors.address1.length:has-error"}}>
                    <label for="address1" class="col-sm-2 control-label">{{t 'address.form.address1.label'}}</label>
                    <div class="col-sm-10">
                        {{input type="text" id="address1" name="address1" value=model.address.address1 class="form-control" placeholderTranslation='address.form.address1.placeholder'}}
                        {{error-display model.address.fieldErrors.address1}}
                    </div>
                </div>
                <div {{bind-attr class=":form-group model.address.fieldErrors.address2.length:has-error"}}>
                    <label for="address2" class="col-sm-2 control-label">{{t 'address.form.address2.label'}}</label>
                    <div class="col-sm-10">
                        {{input type="text" id="address2" name="address2" value=model.address.address2 class="form-control" placeholderTranslation='address.form.address2.placeholder'}}
                        {{error-display model.address.fieldErrors.address2}}
                    </div>
                </div>
                <div {{bind-attr class=":form-group model.address.fieldErrors.city.length:has-error"}}>
                    <label for="city" class="col-sm-2 control-label">{{t 'address.form.city.label'}}</label>
                    <div class="col-sm-10">
                        {{input type="text" id="city" name="city" value=model.address.city class="form-control"}}
                        {{error-display model.address.fieldErrors.city}}
                    </div>
                </div>
                <div {{bind-attr class=":form-group model.address.fieldErrors.zipCode.length:has-error"}}>
                    <label for="zipCode" class="col-sm-2 control-label">{{t 'address.form.zipCode.label'}}</label>
                    <div class="col-sm-10">
                        {{input type="text" id="zipCode" name="zipCode" value=model.address.zipCode class="form-control"}}
                        {{error-display model.address.fieldErrors.zipCode}}
                    </div>
                </div>
                <div {{bind-attr class=":form-group model.address.fieldErrors.country.length:has-error"}}>
                    <label for="country" class="col-sm-2 control-label">{{t 'address.form.country.label'}}</label>
                    <div class="col-sm-10">
                        {{view "select"
                                content=controllers.countries.content
                                optionValuePath="content.id"
                                optionLabelPath="content.name"
                                selection=model.address.country
                                class="form-control"
                                name="country"
                                promptTranslation='address.form.country.prompt'}}
                                {{error-display model.address.fieldErrors.country}}
                    </div>
                </div>
                {{#if model.address.country}}
                    <div {{bind-attr class=":form-group"}}>
                        {{#if model.address.country.isFrance}}
                            <label for="department" class="col-sm-2 control-label">{{t 'address.form.department.label'}}</label>
                            <div class="col-sm-10">
                                {{view "select"
                                content=controllers.departments.content
                                optionValuePath="content.id"
                                optionLabelPath="content.name"
                                selection=model.address.department
                                class="form-control"
                                name="department"
                                promptTranslation="address.form.department.prompt"}}
                            </div>
                        {{else}}
                            <label for="state" class="col-sm-2 control-label">{{t 'address.form.state.label'}}</label>
                            <div class="col-sm-10">
                                {{input type="text" id="state" name="state" value=model.address.state class="form-control"}}
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
                {{#if session.user.isAdmin}}
                    <div class="col-sm-offset-2 col-sm-10">
                        <h3 class="ruled"><span>{{t 'wwoofer.form.admin'}}</span></h3>
                    </div>
                    <div {{bind-attr class=":form-group model.fieldErrors.note.length:has-error"}}>
                        <label for="note" class="col-sm-2 control-label">{{t 'wwoofer.form.note.label'}}</label>
                        <div class="col-sm-10">
                            {{textarea id="note" name="note" value=model.note class="form-control" rows="4"}}
                            {{error-display model.fieldErrors.note}}
                        </div>
                    </div>
                {{/if}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button {{action "saveWwoofer"}} disabled={{model.isSaving}} class="btn btn-primary isNew:pull-right">
                            {{#if model.isNew}}
                                {{t 'literal.continue'}}
                            {{else}}
                                {{t 'literal.save'}}
                            {{/if}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3 hidden-xs">
            {{#unless model.isNew}}
                {{#if belongsToCurrentUser}}
                    {{wwoofer-membership-status membershipsService=userMemberships}}
                {{/if}}
            {{/unless}}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon glyphicon-pushpin mrx"></span>
                        {{t 'wwoofer.form.goodToKnow'}}
                    </h3>
                </div>
                <div class="panel-body">
                    <span class="glyphicon glyphicon-pencil mrx"></span>
                    {{t 'wwoofer.form.goodToKnow1'}}
                    <hr/>
                    <span class="glyphicon glyphicon-time mrx"></span>
                    {{t 'wwoofer.form.goodToKnow2'}}
                    <hr/>
                    <span class="glyphicon glyphicon-paperclip mrx"></span>
                    {{t 'wwoofer.form.goodToKnow3'}}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon glyphicon-download-alt mrx"></span>
                        {{t 'wwoofer.form.usefulDocuments'}}
                    </h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-link mrx"></span>
                                    {{t 'wwoofer.form.wwooferHandbook'}}
                                </td>
                                <td><a href='http://www.wwoof.fr/documents/guide-pratique-wwoofeur.pdf'>{{t 'literal.french'}}</a></td>
                                <td><a href='http://www.wwoof.fr/documents/wwoofer-handbook.pdf'>{{t 'literal.english'}}</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-link mrx"></span>
                                    {{t 'wwoofer.form.wwoofingCharter'}}
                                </td>
                                <td><a href='http://www.wwoof.fr/documents/charte-wwoofing.pdf'>{{t 'literal.french'}}</a></td>
                                <td><a href='http://www.wwoof.fr/documents/wwoofing-charter.pdf'>{{t 'literal.english'}}</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="glyphicon glyphicon-link mrx"></span>
                                    {{t 'wwoofer.form.rulesAndRegulations'}}
                                </td>
                                <td><a href='http://www.wwoof.fr/documents/reglement-interieur-wwoofing.pdf'>{{t 'literal.french'}}</a></td>
                                <td><a href='http://www.wwoof.fr/documents/wwoofing-rules-and-regulations.pdf'>{{t 'literal.english'}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
