<div class="page-header">
  <h1>
    <span class="capitalize">{{model.user.fullName}}</span>
    {{#if model.user.latestWwooferMembership.fullName2}}
      <small>{{t 'wwoofer.index.and'}} <span class="capitalize">{{model.user.latestWwooferMembership.fullName2}}</span></small>
    {{/if}}
  </h1>
</div>

{{#if showNote}}
  <div class="alert alert-info" role="alert">
    <strong>{{t 'wwoofer.index.note'}}</strong>: {{model.note}}
  </div>
{{/if}}

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    {{image-thumb url=model.user.completePhotoUrl height=250 class='mbm'}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'wwoofer.index.generalInformation'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>
            <span class="glyphicon glyphicon-user mrx"></span>
            <span class="capitalize">{{model.user.fullName}}</span>
            ({{birthdate-to-age model.user.birthDate}} {{t 'wwoofer.index.yearsOld'}})
          </td>
        </tr>
        {{#if model.user.latestWwooferMembership.fullName2}}
          <tr>
            <td>
              <span class="glyphicon glyphicon-user mrx"></span>
              <span class="capitalize">{{model.user.latestWwooferMembership.fullName2}}</span>
              ({{birthdate-to-age model.user.latestWwooferMembership.birthDate2}} {{t 'wwoofer.index.yearsOld'}})
            </td>
          </tr>
        {{/if}}
        <tr>
          <td>
            <span class="glyphicon glyphicon-map-marker mrx"></span>
            <span class="capitalize">{{model.address.city}} ({{model.address.country.name}})</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="glyphicon glyphicon-star mrx"></span>
            {{#if model.user.hasWwooferMemberships}}
              {{t 'wwoofer.index.memberSince'}} {{moment-format model.user.firstWwooferMembership.createdAt 'MMMM YYYY'}}
            {{else}}
              {{t 'wwoofer.index.notAMember'}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            <span class="glyphicon glyphicon-time mrx"></span>
            {{t 'wwoofer.index.updated'}} {{moment-from-now model.updatedAt}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'wwoofer-form.intro.label'}}
        </h3>
      </div>
      <div class="panel-body">
        {{#if model.intro}}
          {{convert-breaklines model.intro}}
        {{else}}
          <i>{{t 'wwoofer.index.informationNotProvided'}}</i>
        {{/if}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'wwoofer-form.tripMotivation.label'}}
        </h3>
      </div>
      <div class="panel-body">
        {{#if model.tripMotivation}}
          {{convert-breaklines model.tripMotivation}}
        {{else}}
          <i>{{t 'wwoofer.index.informationNotProvided'}}</i>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'wwoofer.index.contact' firstName=model.user.firstName}}
        </h3>
      </div>
      <table class="table">
        <tbody>
          {{#if sessionUser.user.isAdmin}}
            <tr>
              <td>
                <span class="glyphicon glyphicon-envelope mrx"></span>
                {{mail-to model.user.email (truncate model.user.email limit=28)}}
              </td>
            </tr>
          {{/if}}
          {{#if model.user.phone}}
            <tr>
              <td>
                <span class="glyphicon glyphicon-earphone mrx"></span>
                {{model.user.phone}}
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
      <ul class="list-group">
        {{#if sessionUser.user.isAdmin}}
          {{#link-to 'conversations.new' (query-params user2Id=model.user.id) class='list-group-item list-group-item-primary text-center'}}
            {{t 'wwoofer.index.sendMessage'}}
          {{/link-to}}
        {{else}}
          {{#link-to 'wwoofer.contact' model.id class='list-group-item list-group-item-primary text-center'}}
            {{t 'wwoofer.index.sendMessage'}}
          {{/link-to}}
        {{/if}}
      </ul>
    </div>
  </div>

  {{#unless isLoggedUserProfile}}
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon glyphicon-pushpin mrx"></span>
              {{t 'wwoofer.index.goodToKnow'}}
            </h3>
          </div>
          <div class="panel-body">
            <span class="glyphicon glyphicon-calendar mrx"></span>
            {{t 'wwoofer.index.goodToKnow1'}}
            <hr/>
            <span class="glyphicon glyphicon-time mrx"></span>
            {{t 'wwoofer.index.goodToKnow2'}}
            <hr/>
            <span class="glyphicon glyphicon-paperclip mrx"></span>
            {{t 'wwoofer.index.goodToKnow3'}}
          </div>
        </div>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon glyphicon-download-alt mrx"></span>
              {{t 'documents.usefulDocuments'}}
            </h3>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-link mrx"></span>
                  {{t 'documents.wwooferDeclaration'}}
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/declaration-fr.pdf" target="_blank">{{t 'literal.french'}}</a>
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/declaration-en.pdf" target="_blank">{{t 'literal.english'}}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-link mrx"></span>
                  {{t 'documents.selectWwoofer'}}
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/selection-wwoofeur.pdf" target="_blank">{{t 'literal.french'}}</a>
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/selection-wwoofeur.pdf" target="_blank">{{t 'literal.english'}}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-link mrx"></span>
                  {{t 'documents.wwooferArrival'}}
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/arrivee-wwoofeur.pdf" target="_blank">{{t 'literal.french'}}</a>
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/arrivee-wwoofeur.pdf" target="_blank">{{t 'literal.english'}}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-link mrx"></span>
                  {{t 'documents.wwoofingCharter'}}
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/charte-wwoofing.pdf" target="_blank">{{t 'literal.french'}}</a>
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/wwoofing-charter.pdf" target="_blank">{{t 'literal.english'}}</a>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-link mrx"></span>
                  {{t 'documents.rulesAndRegulations'}}
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/reglement-interieur-wwoofing.pdf" target="_blank">{{t 'literal.french'}}</a>
                </td>
                <td>
                  <a href="http://docs.wwoof.fr/documents/wwoofing-rules-and-regulations.pdf" target="_blank">{{t 'literal.english'}}</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  {{/unless}}
</div>
