<div class="page-header">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{t 'wwoofer.index.general'}}</h4>
            </div>
            <div class="panel-body">
                {{t 'wwoofer.index.memberSince'}} {{format-date user.createdAt}}<br/>
                {{t 'wwoofer.index.born'}} {{format-date user.birthDate}} ({{birthdate-to-age user.birthDate}} {{t 'wwoofer.index.yearsOld'}})
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{t 'wwoofer.index.address'}}</h4>
            </div>
            <div class="panel-body">
                {{address.address1}}<br/>
                {{address.address2}}<br/>
                {{address.zipCode}} {{address.city}} {{address.state}}<br/>
                {{address.country.name}}<br/>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{t 'wwoofer.index.memberships'}}</h4>
            </div>
            <div class="panel-body">
                {{#link-to 'user.memberships' user}}{{t 'wwoofer.index.viewMemberships'}}{{/link-to}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{t 'wwoofer.index.contact'}}</h4>
            </div>
            <div class="panel-body">
                {{user.phone}}<br/>
                {{user.email}}
            </div>
        </div>
    </div>
</div>
