<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>
            {{model.user.fullName}}
            {{#if model.fullName2}}
                <small>{{t 'wwoofer.index.and'}} {{model.fullName2}}</small>
            {{/if}}
        </h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'wwoofer.index.general'}}</h4>
                </div>
                <div class="panel-body">
                    {{t 'wwoofer.index.memberSince'}} {{format-date model.user.createdAt}}<br/>
                    {{t 'wwoofer.index.born'}} {{format-date model.user.birthDate}}
                    ({{birthdate-to-age model.user.birthDate}} {{t 'wwoofer.index.yearsOld'}})
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'wwoofer.index.address'}}</h4>
                </div>
                <div class="panel-body">
                    {{model.address.address1}}<br/>
                    {{model.address.address2}}<br/>
                    {{model.address.zipCode}} {{model.address.city}} {{model.address.state}}<br/>
                    {{model.address.country.name}}<br/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'wwoofer.form.intro.label'}}</h4>
                </div>
                <div class="panel-body">
                    {{#if model.intro}}
                        {{model.intro}}
                    {{else}}
                        <i>{{t 'wwoofer.index.informationNotProvided'}}</i>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'wwoofer.form.tripMotivation.label'}}</h4>
                </div>
                <div class="panel-body">
                    {{#if model.tripMotivation}}
                        {{model.tripMotivation}}
                    {{else}}
                        <i>{{t 'wwoofer.index.informationNotProvided'}}</i>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'wwoofer.index.contact'}}</h4>
                </div>
                <div class="panel-body">
                    {{mail-to model.user.email}}<br/>
                    {{model.user.phone}}
                </div>
            </div>
        </div>
        {{#if session.user.isAdmin}}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{{t 'wwoofer.index.memberships'}}</h4>
                    </div>
                    <div class="panel-body">
                        {{#link-to 'user.memberships' model.user}}{{t 'wwoofer.index.viewMemberships'}}{{/link-to}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>
