<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{t 'user.photo.new'}}</h3>
    </div>
    <div class="panel-body">
        {{photo-uploader dataUrl=controller.photoDataUrl model=model.user mode="user"}}
    </div>
</div>
{{#if model.user.photo}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{t 'user.photo.edit'}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    {{image-thumb url=model.user.completePhotoUrl height=200}}
                    <div class="input-group mtx pull-right">
                        <button {{action "deletePhoto"}} class="btn btn-default" aria-label={{t 'literal.delete'}} title={{t 'literal.delete'}}>
                            <span class="glyphicon glyphicon-trash mrx" aria-hidden="true"></span>
                            {{t 'literal.delete'}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/if}}
