<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{t 'user.change-password.title'}}</h3>
    </div>
    <div class="panel-body">
        <form autocomplete="on" method="POST" class="form-horizontal" {{action "changePassword" on="submit"}}>
            <div {{bind-attr class=":form-group fieldErrors.password.length:has-error"}}>
                <label for="password" class="col-sm-2 control-label">{{t 'user.change-password.newPassword.label'}}</label>
                <div class="col-sm-10">
                    {{input value=password name="password" type="password" class="form-control"}}
                    {{error-display fieldErrors.password}}
                </div>
            </div>
            <div {{bind-attr class=":form-group fieldErrors.passwordConfirmation.length:has-error"}}>
                <label for="passwordConfirmation" class="col-sm-2 control-label">{{t 'user.change-password.confirmPassword.label'}}</label>
                <div class="col-sm-10">
                    {{input value=passwordConfirmation name="passwordConfirmation" type="password" class="form-control"}}
                    {{error-display fieldErrors.passwordConfirmation}}
                </div>
            </div>
            <div class="form-group mbx">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" {{bind-attr disabled="isLoading"}}>{{t 'user.change-password.update'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>