<div class="col-md-10 col-md-offset-1 mbm">
    <div class="page-header">
        <h1>
            {{#if model.isNew}}
                {{t 'user.form.titleNew'}}
            {{else}}
                {{t 'user.form.titleEdit'}}
            {{/if}}
        </h1>
    </div>

    {{#if model.isNew}}
        <p>
            {{t 'user.form.instructionsNew'}}
            {{t 'user.form.haveAccount'}}
            {{#link-to 'login'}}{{t 'user.form.logIn'}}{{/link-to}}
        </p>
    {{/if}}

    <form>
        <div class="row">
            <div class="col-md-6">
                <div {{bind-attr class=":form-group model.fieldErrors.firstName.length:has-error"}}>
                    <label for="firstName" class="control-label">{{t 'user.form.firstName.label'}}</label>
                    {{#if model.isNew}}
                        {{input type="text" id="firstName" name="firstName" value=model.firstName class="form-control"}}
                        {{error-display model.fieldErrors.firstName}}
                    {{else}}
                        <p class="form-control-static">{{model.firstName}}</p>
                    {{/if}}
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.lastName.length:has-error"}}>
                    <label for="lastName" class="control-label">{{t 'user.form.lastName.label'}}</label>
                    {{#if model.isNew}}
                        {{input type="text" id="lastName" name="lastName" value=model.lastName class="form-control"}}
                        {{error-display model.fieldErrors.lastName}}
                    {{else}}
                        <p class="form-control-static">{{model.lastName}}</p>
                    {{/if}}
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.birthDate.length:has-error"}}>
                    <label for="birthDate" class="control-label">{{t 'user.form.birthDate.label'}}</label>
                    {{#if model.isNew}}
                        {{date-picker selectedDate=selectedDate}}
                        {{error-display model.fieldErrors.birthDate}}
                    {{else}}
                        <p class="form-control-static">{{format-date model.birthDate}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="col-md-6">
                <div {{bind-attr class=":form-group model.fieldErrors.email.length:has-error"}}>
                    <label for="email" class="control-label">{{t 'literal.email'}}</label>
                    {{input type="email" id="email" name="email" value=model.email class="form-control"}}
                    {{error-display model.fieldErrors.email}}
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.password.length:has-error"}}>
                    <label for="password" class="control-label">{{t 'literal.password'}}</label>
                    {{#if model.isNew}}
                        {{input type="password" id="password" name="password" value=model.password class="form-control"}}
                        {{error-display model.fieldErrors.password}}
                    {{else}}
                        <p class="form-control-static">
                            {{#link-to 'user.change-password' id}}{{t 'user.form.changePassword'}}{{/link-to}}
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
        {{#if model.isNew}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            {{input type="checkbox" id="termsOk" checked=termsOk}}
                            {{t 'user.form.termsOk.label'}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            {{input type="checkbox" id="insuranceOk" checked=insuranceOk}}
                            {{t 'user.form.insuranceOk.label'}}
                        </label>
                    </div>
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-xs-12">
                <button {{action "saveUser"}} disabled={{model.isSaving}} class="btn btn-primary pull-right mls">
                    {{#if model.isNew}}
                        {{t 'user.form.register'}}
                    {{else}}
                        {{t 'literal.save'}}
                    {{/if}}
                </button>
                {{#link-to 'index' class="btn btn-default pull-right"}}{{t 'literal.cancel'}}{{/link-to}}
            </div>
        </div>
    </form>
</div>
