<form class="form-horizontal">
  <div class="panel panel-default">
    {{#unless user.isNew}}
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'user.form.title'}}
        </h3>
      </div>
    {{/unless}}
    <div class="panel-body">
      {{#forms/form-group valuePath='user.firstName' as |showError|}}
        <label for="firstName" class="col-sm-2 control-label">{{t 'user.form.firstName.label'}}</label>

        <div class="col-sm-10">
          {{#if canEditName}}
            {{input type='text' id='firstName' name='firstName' value=user.firstName class='form-control'}}
            {{error-display error=validations.attrs.user.firstName showError=showError}}
          {{else}}
            <p class="form-control-static">{{user.firstName}}</p>
          {{/if}}
        </div>
      {{/forms/form-group}}
      {{#forms/form-group valuePath='user.lastName' as |showError|}}
        <label for="lastName" class="col-sm-2 control-label">{{t 'user.form.lastName.label'}}</label>

        <div class="col-sm-10">
          {{#if canEditName}}
            {{input type='text' id='lastName' name='lastName' value=user.lastName class='form-control'}}
            {{error-display error=validations.attrs.user.lastName showError=showError}}
          {{else}}
            <p class="form-control-static">{{user.lastName}}</p>
          {{/if}}
        </div>
      {{/forms/form-group}}
      {{#forms/form-group valuePath='user.birthDate' as |showError|}}
        <label for="birthDate" class="col-sm-2 control-label">{{t 'user.form.birthDate.label'}}</label>

        <div class="col-sm-10">
          {{#if canEditBirthDate}}
            {{date-picker selectedDate=selectedDate dateSelected='dateSelected'}}
            {{error-display error=validations.attrs.user.birthDate showError=showError}}
          {{else}}
            <p class="form-control-static">{{moment-format user.birthDate}}</p>
          {{/if}}
        </div>
      {{/forms/form-group}}
      {{#forms/form-group valuePath='user.email' as |showError|}}
        <label for="email" class="col-sm-2 control-label">{{t 'literal.email'}}</label>

        <div class="col-sm-10">
          {{input type='email' id='email' name='email' value=user.email class='form-control'}}
          {{error-display error=validations.attrs.user.email showError=showError}}
        </div>
      {{/forms/form-group}}
      {{#if user.isNew}}
        {{#forms/form-group valuePath='user.password' as |showError|}}
          <label for="password" class="col-sm-2 control-label">{{t 'literal.password'}}</label>

          <div class="col-sm-10">
            {{input type='password' id='password' name='password' value=user.password class='form-control'}}
            {{error-display error=validations.attrs.user.password showError=showError}}
          </div>
        {{/forms/form-group}}
      {{/if}}
      {{#if user.isNew}}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                {{input type="checkbox" name="termsOk" checked=termsOk}}
                {{t 'user.form.termsOk.label'}}
              </label>
            </div>
            <div class="checkbox">
              <label>
                {{input type="checkbox" name="insuranceOk" checked=insuranceOk}}
                {{t 'user.form.insuranceOk.label'}}
              </label>
            </div>
          </div>
        </div>
        <div class="form-group mbx">
          <div class="col-sm-offset-2 col-sm-10">
            <button {{action "saveUser"}} class="btn btn-primary" disabled={{user.isSaving}}>
                {{t 'user.form.register'}}
            </button>
          </div>
        </div>
      {{/if}}
    </div>
  </div>

  {{#unless user.isNew}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{t 'user.form.preferredLanguage'}}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              {{#radio-button classNames="radio-inline" value="fr" groupValue=user.locale}}
                Français
              {{/radio-button}}
              {{#radio-button classNames="radio-inline" value="en" groupValue=user.locale}}
                English
              {{/radio-button}}
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <span class="form-details">
            {{t 'user.form.localeDetails'}}
          </span>
        </div>
      </div>
    </div>
  {{/unless}}

  {{#if sessionUser.user.isAdmin}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{t 'literal.admins'}}</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                {{input type="checkbox" name="isHidden" checked=user.isSuspended}}
                {{t 'user.form.isSuspended.label'}}
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <span class="form-details">
            {{t 'user.form.isSuspendedDetails'}}
          </span>
        </div>
      </div>
    </div>
  {{/if}}

  {{#unless user.isNew}}
    <div class="form-group">
      <div class="col-xs-12">
        <button {{action 'saveUser'}} class="btn btn-primary" disabled={{user.isSaving}}>
            {{t 'literal.save'}}
        </button>
      </div>
    </div>
  {{/unless}}
</form>
