<div class="panel panel-default">
    {{#unless model.isNew}}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{t 'user.form.title'}}
            </h3>
        </div>
    {{/unless}}
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group {{if model.fieldErrors.firstName.length 'has-error'}}">
                <label for="firstName" class="col-sm-2 control-label">{{t 'user.form.firstName.label'}}</label>
                <div class="col-sm-10">
                    {{#if canEditUser}}
                        {{input type="text" id="firstName" name="firstName" value=model.firstName class="form-control"}}
                        {{error-display model.fieldErrors.firstName}}
                    {{else}}
                        <p class="form-control-static">{{model.firstName}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="form-group {{if model.fieldErrors.lastName.length 'has-error'}}">
                <label for="lastName" class="col-sm-2 control-label">{{t 'user.form.lastName.label'}}</label>
                <div class="col-sm-10">
                    {{#if canEditUser}}
                        {{input type="text" id="lastName" name="lastName" value=model.lastName class="form-control"}}
                        {{error-display model.fieldErrors.lastName}}
                    {{else}}
                        <p class="form-control-static">{{model.lastName}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="form-group {{if fieldErrors.selectedDate.length 'has-error'}}">
                <label for="birthDate" class="col-sm-2 control-label">{{t 'user.form.birthDate.label'}}</label>
                <div class="col-sm-10">
                    {{#if canEditUser}}
                        {{date-picker selectedDate=selectedDate}}
                        {{error-display fieldErrors.selectedDate}}
                    {{else}}
                        <p class="form-control-static">{{format-date model.birthDate}}</p>
                    {{/if}}
                </div>
            </div>
            <div class="form-group {{if model.fieldErrors.email.length 'has-error'}}">
                <label for="email" class="col-sm-2 control-label">{{t 'literal.email'}}</label>
                <div class="col-sm-10">
                    {{input type="email" id="email" name="email" value=model.email class="form-control"}}
                    {{error-display model.fieldErrors.email}}
                </div>
            </div>
            {{#if model.isNew}}
                <div class="form-group {{if model.fieldErrors.password.length 'has-error'}}">
                    <label for="password" class="col-sm-2 control-label">{{t 'literal.password'}}</label>
                    <div class="col-sm-10">
                        {{input type="password" id="password" name="password" value=model.password class="form-control"}}
                        {{error-display model.fieldErrors.password}}
                    </div>
                </div>
            {{/if}}
            {{#if model.isNew}}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                {{input type="checkbox" id="termsOk" checked=termsOk}}
                                {{t 'user.form.termsOk.label'}}
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                {{input type="checkbox" id="insuranceOk" checked=insuranceOk}}
                                {{t 'user.form.insuranceOk.label'}}
                            </label>
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="form-group mbx">
                <div class="col-sm-offset-2 col-sm-10">
                    <button {{action "saveUser"}} class="btn btn-primary" disabled={{model.isSaving}}>
                        {{#if model.isNew}}
                            {{t 'user.form.register'}}
                        {{else}}
                            {{t 'literal.save'}}
                        {{/if}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
