<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-body pam">
        <img class="img-circle img-responsive center-block" src={{user.conversationUrlThumb2}}>
        <h2 class="text-center">
          {{user.firstName}}
          {{#if user.latestWwooferMembership.firstName2}}
            <small>&</small>
            {{user.latestWwooferMembership.firstName2}}
          {{/if}}
        </h2>
        <hr>
        <ul class="list-unstyled mbn">
          {{#if canEditProfile}}
            <li class="mbs">
              <span class="glyphicon glyphicon-pencil mrx"></span>
              {{#link-to 'user.edit' user.id}}{{t 'literal.editProfile'}}{{/link-to}}
            </li>
          {{/if}}
          <li class="{{if showReviewLink 'mbs' 'mbn'}}">
            <span class="glyphicon glyphicon-envelope mrx"></span>
            {{#link-to 'conversations.new' (query-params user2Id=user.id)}}
              {{t 'user.index.sendMessage'}}
            {{/link-to}}
          </li>
          {{#if showReviewLink}}
            <li class="mbn">
              <span class="glyphicon glyphicon-comment mrx"></span>
              {{#link-to 'reviews.new' (query-params revieweeId=user.id)}}
                {{t 'user.index.writeReview'}}
              {{/link-to}}
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
    {{#if user.hasActiveHostMembership}}
      {{mini-host-item host=user.host}}
    {{/if}}
  </div>

  <div class="col-xs-12 col-sm-8 col-md-9">

    {{#if showNote}}
      <div class="alert alert-info" role="alert">
        <strong>{{t 'user.index.note'}}</strong>: {{user.note}}
      </div>
    {{/if}}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'user.index.overview'}}
        </h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <p>
              <span class="glyphicon glyphicon-user mrs"></span>
              {{user.firstName}}{{#if user.birthDate}}, {{birthdate-to-age user.birthDate}} {{t 'common.yearsOld'}}{{/if}}
            </p>
            {{#if user.latestWwooferMembership.firstName2}}
              <p>
                <span class="glyphicon glyphicon-user mrs"></span>
                {{user.latestWwooferMembership.firstName2}}, {{birthdate-to-age user.latestWwooferMembership.birthDate2}} {{t 'common.yearsOld'}}
              </p>
            {{/if}}
            <p>
              <span class="glyphicon glyphicon-map-marker mrs"></span>
              {{t 'user.index.from' city=user.addresses.firstObject.city country=user.addresses.firstObject.country.name}}
            </p>
          </div>
          <div class="col-xs-12 col-sm-6">
            <p>
              <span class="glyphicon glyphicon-time mrs"></span>
              {{t 'host.index.updated'}} {{moment-from-now user.updatedAt}}
            </p>
            <p>
              <span class="glyphicon glyphicon-certificate mrs"></span>
              {{#if user.hasMemberships}}
                {{t 'user.index.memberSince'}} {{moment-format user.firstMembership.createdAt 'MMMM YYYY'}}
              {{else}}
                {{t 'user.index.notAMember'}}
              {{/if}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'user.index.intro'}}
        </h3>
      </div>
      <div class="panel-body">
        {{#if user.intro}}
          {{convert-breaklines user.intro}}
        {{else}}
          <i>{{t 'user.index.informationNotProvided'}}</i>
        {{/if}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'user.index.tripMotivation'}}
        </h3>
      </div>
      <div class="panel-body">
        {{#if user.tripMotivation}}
          {{convert-breaklines user.tripMotivation}}
        {{else}}
          <i>{{t 'user.index.informationNotProvided'}}</i>
        {{/if}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-comment mrx"></span>
          {{t 'literal.reviews'}}
        </h3>
      </div>
      <ul class="list-group">
        {{#if sessionUser.user.hasMemberships}}
          {{#each user.displayedWwooferReceivedReviews as |review|}}
            {{review-item
              review=review
              isCurrentUserProfile=isCurrentUserProfile
              saveReviewReply=(action 'saveReviewReply')
              deleteReview=(action 'deleteReview')}}
          {{else}}
            <li class="list-group-item">{{t 'user.index.noReviews'}}</li>
          {{/each}}
        {{else}}
          <li class="list-group-item">
            {{members-only}}
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>
