<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{t 'user.memberships.wwoofer'}}</h3>
    </div>
    <div class="panel-body">
        {{#if localUserMembershipsService.hasWwoofMemberships}}
            {{wwoofer-membership-status wwoofer=model.wwoofer}}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{t 'user.memberships.code'}}</th>
                    <th>{{t 'user.memberships.payment'}}</th>
                    <th>{{t 'user.memberships.amount'}}</th>
                    <th>{{t 'user.memberships.expireAt'}}</th>
                </tr>
                </thead>
                <tbody>
                {{#each localUserMembershipsService.wwoofMemberships as |wwoofMembership|}}
                    <tr>
                        <td>{{wwoofMembership.itemCode}}</td>
                        <td>{{format-date wwoofMembership.createdAt}}</td>
                        <td>{{wwoofMembership.total}} Euro</td>
                        <td>{{format-date wwoofMembership.expireAt}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <small>{{t 'user.memberships.renewalInstructions'}}</small>
        {{else}}
            {{t 'user.memberships.noWwooferMemberships'}}
            {{#if model.wwoofer.id}}
                {{#link-to 'memberships.new' (query-params type='W' itemCode='WO1')}}
                    {{t 'user.memberships.getNow'}}
                {{/link-to}}
            {{/if}}
        {{/if}}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{t 'user.memberships.host'}}</h3>
    </div>
    <div class="panel-body">
        {{#if localUserMembershipsService.hasHostMemberships}}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>{{t 'user.memberships.code'}}</th>
                    <th>{{t 'user.memberships.payment'}}</th>
                    <th>{{t 'user.memberships.amount'}}</th>
                    <th>{{t 'user.memberships.expireAt'}}</th>
                </tr>
                </thead>
                <tbody>
                {{#each localUserMembershipsService.hostMemberships as |hostMembership|}}
                    <tr>
                        <td>{{hostMembership.itemCode}}</td>
                        <td>{{format-date hostMembership.createdAt}}</td>
                        <td>{{hostMembership.total}} Euro</td>
                        <td>{{format-date hostMembership.expireAt}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <small>{{t 'user.memberships.renewalInstructions'}}</small>
        {{else}}
            {{t 'user.memberships.noHostMemberships'}}
            {{#if showHostMembershipLink}}
                {{#link-to 'memberships.new' (query-params type='H' itemCode='H')}}
                    {{t 'user.memberships.getNow'}}
                {{/link-to}}
            {{/if}}
        {{/if}}
    </div>
</div>
