<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="hidden-xs">
      {{#if conversation.otherUser.host.id}}
        {{#link-to 'host.index' conversation.otherUser.host.id}}
          {{image-thumb src=conversation.otherUser.conversationUrlThumb2}}
        {{/link-to}}
      {{else}}
        {{#link-to 'wwoofer.index' conversation.otherUser.wwoofer.id}}
          {{image-thumb src=conversation.otherUser.conversationUrlThumb2}}
        {{/link-to}}
      {{/if}}
    </div>

    <h3 class="text-center">{{conversation.otherUser.firstName}}</h3>
    <p class="text-center">
      {{conversation.otherUser.addresses.firstObject.city}} ({{conversation.otherUser.addresses.firstObject.country.name}})
    </p>
    <p class="mbm">
      {{#if conversation.otherUser.host.id}}
        {{#link-to 'host.index' conversation.otherUser.host.id  class="btn btn-primary btn-block"}}
          {{t 'conversation.index.hostProfile'}}
        {{/link-to}}
      {{/if}}
      {{#if conversation.otherUser.wwoofer.id}}
        {{#link-to 'wwoofer.index' conversation.otherUser.wwoofer.id class="btn btn-primary btn-block"}}
          {{t 'conversation.index.wwooferProfile'}}
        {{/link-to}}
      {{/if}}
    </p>
  </div>
  <div class="col-xs-12 col-sm-9">
    {{#forms/form-group}}
      {{textarea id='newMessage' name='newMessage' value=newMessage class='form-control' placeholder=newMessagePlaceholder rows="7"}}
    {{/forms/form-group}}
    <p class="text-right">
      <span class="pull-left text-muted {{if noCharLeft 'text-danger'}}">
        {{t 'common.charLeft' count=textCharLeft}}
        {{#if conversation.isNew}}
          /
          {{t 'conversation.index.quota'
              count=conversationsService.conversations.meta.lastDay
              remaining=conversationsService.conversations.meta.remaining}}
        {{/if}}
      </span>
      <button type="button" class="btn btn-default" disabled={{disableSend}} onclick={{action 'sendMessage' conversation newMessage}}>
        {{t 'conversation.index.sendMessage'}}
      </button>
    </p>
    <hr>
    {{#if conversation.isNew}}
      <strong>
        {{t 'conversation.index.rules'}}
      </strong>
      <ol>
        <li>{{t 'conversation.index.rule1'}}</li>
        <li>{{t 'conversation.index.rule2'}}</li>
        <li>{{t 'conversation.index.rule3'}}</li>
      </ol>
    {{else}}
      {{#each conversation.sortedMessages as |message|}}
        <div class="panel panel-default {{if message.isCurrentUserAuthor 'panel-dark'}}">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 col-md-2">
                {{image-thumb src=message.author.conversationUrlThumb1}}
              </div>
              <div class="col-xs-8 col-md-10">
                <p class="message-text">{{convert-breaklines message.text}}</p>
                <small class="text-muted">{{moment-format message.createdAt 'll'}}</small>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
