<div class="row">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal">
      {{review-form
          review=review
          validations=validations}}

      <div class="form-group">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary" onclick={{action 'saveReview' review}} disabled={{review.isSaving}}>
            {{t 'literal.save'}}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="hidden-xs col-sm-3">
    {{help-articles label='review-edit'}}
  </div>
</div>
