<div class="page-header">
  <h1>
    {{t 'wwoofers.index.title'}}
  </h1>
</div>
<div class="row mbm">
  <div class="col-xs-12">
    <p>
      {{t 'wwoofers.index.instructions'}}
    </p>

    <form class="form-inline">
      <div class="form-group">
        <label for="searchTerm" class="sr-only">{{t 'literals.search'}}</label>
        {{input type='text'
        class='form-control'
        placeholder=(t 'wwoofers.index.search.placeholder')
        value=searchTerm
        enter='search'}}
      </div>
      <div class="form-group">
        <label for="country" class="sr-only">{{t 'address-form.country.label'}}</label>
        {{forms/country-select
        country=selectedCountry
        allowClear=true
        onchange=(action 'countryDidChange')}}
      </div>
      <button {{action 'search'}} class="btn btn-primary" disabled={{isLoading}}>
      {{t 'literal.search'}}
      </button>
    </form>
  </div>
</div>

<div class="row mbm">
  <div class="col-xs-12">
    {{#if isLoading}}
      {{partial 'loading'}}
    {{else}}
      {{#if wwoofers}}
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>{{t 'wwoofers.index.wwoofer1'}}</th>
              <th>{{t 'wwoofers.index.wwoofer2'}}</th>
              <th>{{t 'literal.email'}}</th>
              <th class="hidden-xs hidden-sm">{{t 'wwoofers.index.city'}}</th>
              <th class="hidden-xs hidden-sm">{{t 'wwoofers.index.country'}}</th>
              <th>{{t 'wwoofers.index.actions'}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each wwoofers as |wwoofer|}}
              <tr>
                <td>{{wwoofer.user.fullName}}</td>
                <td>{{wwoofer.fullName2}}</td>
                <td>{{wwoofer.user.email}}</td>
                <td class="hidden-xs hidden-sm">{{wwoofer.address.city}}</td>
                <td class="hidden-xs hidden-sm">{{wwoofer.address.country.name}}</td>
                <td>
                  {{#link-to "wwoofer" wwoofer.id}}{{t 'literal.view'}}{{/link-to}}
                  {{#if sessionUser.user.isAdmin}}
                    |
                    {{#link-to "wwoofer.edit" wwoofer.id}}{{t 'literal.edit'}}{{/link-to}}
                    |
                    {{#link-to "user.memberships" wwoofer.user}}{{t 'wwoofers.index.viewMemberships'}}{{/link-to}}
                  {{/if}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>

          <p class="text-center">
            {{list-pagination currentPage=page totalPages=totalPages targetRoute='wwoofers'}}
          </p>
        </div>
      {{else}}
        {{t 'wwoofers.index.noResults'}}
        {{#if sessionUser.user.isAdmin}}
          {{t 'wwoofers.index.noResultsNotAdmin'}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
