<div class="page-header">
    <h1>Your Wwoofer Profile</h1>
</div>
{{#unless isNew}}
    {{partial 'wwoofer/membership-status'}}
{{/unless}}
<form>
    <div class="row">
        <div class="col-md-6">
            <div {{bind-attr class=":form-group fieldErrors.intro.length:has-error"}}>
                <label for="intro" class="control-label">A quick introduction about you...</label>
                {{textarea id="intro" name="intro" value=intro class="form-control" placeholder="" rows="10"}}
                {{error-display fieldErrors.intro}}
            </div>
        </div>
        <div class="col-md-6">
            <div {{bind-attr class=":form-group fieldErrors.tripMotivation.length:has-error"}}>
                <label for="tripMotivation" class="control-label">What motivates you to do wwoofing?</label>
                {{textarea id="tripMotivation" name="tripMotivation" value=tripMotivation class="form-control" placeholder="" rows="10"}}
                {{error-display fieldErrors.tripMotivation}}
            </div>
        </div>
    </div>
    <div class="row">
        <fieldset class="col-md-6">
            <legend class="h4">Are you wwoofing with someone?</legend>

            <div {{bind-attr class=":form-group"}}>
                <label for="firstName2" class="control-label">First name</label>
                {{input type="text" id="firstName2" name="firstName2" value=firstName2 class="form-control" placeholder=""}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="lastName2" class="control-label">Last name</label>
                {{input type="text" id="lastName2" name="lastName2" value=lastName2 class="form-control" placeholder=""}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="birthDate2" class="control-label">Birth date</label>
                {{date-picker value=birthDate2}}
            </div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend class="h4">Where are you from?</legend>

            <div {{bind-attr class=":form-group address.fieldErrors.address1.length:has-error"}}>
                <label for="address1" class="control-label">Address 1</label>
                {{input type="text" id="address1" name="address1" value=address.address1 class="form-control" placeholder="Numéro et nom de rue, chemin, hameau"}}
                {{error-display address.fieldErrors.address1}}
            </div>
            <div {{bind-attr class=":form-group address.fieldErrors.address2.length:has-error"}}>
                <label for="address2" class="control-label">Address 2</label>
                {{input type="text" id="address2" name="address2" value=address.address2 class="form-control" placeholder="Numéro et nom de rue, chemin, hameau"}}
                {{error-display address.fieldErrors.address2}}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div {{bind-attr class=":form-group address.fieldErrors.zipCode.length:has-error"}}>
                        <label for="zipCode" class="control-label">Zip Code</label>
                        {{input type="text" id="zipCode" name="zipCode" value=address.zipCode class="form-control" placeholder="Code postal"}}
                        {{error-display address.fieldErrors.zipCode}}
                    </div>
                </div>
                <div class="col-md-8">
                    <div {{bind-attr class=":form-group address.fieldErrors.city.length:has-error"}}>
                        <label for="city" class="control-label">City</label>
                        {{input type="text" id="city" name="city" value=address.city class="form-control" placeholder="Ville"}}
                        {{error-display address.fieldErrors.city}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div {{bind-attr class=":form-group model.address.fieldErrors.country.length:has-error"}}>
                        <label for="country" class="control-label">Country</label>
                        {{view Ember.Select
                        content=controllers.countries.content
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        selection=address.country
                        class="form-control"
                        name="country"
                        prompt="Select a country"}}
                        {{error-display address.fieldErrors.country}}
                    </div>
                </div>
                {{#if address.country}}
                    {{#if address.country.isFrance}}
                        <div class="col-md-6">
                            <div {{bind-attr class=":form-group"}}>
                                <label for="department" class="control-label">Department</label>
                                {{view Ember.Select
                                content=controllers.departments.content
                                optionValuePath="content.id"
                                optionLabelPath="content.name"
                                selection=address.department
                                class="form-control"
                                name="department"}}
                            </div>
                        </div>
                    {{else}}
                        <div class="col-md-6">
                            <div {{bind-attr class=":form-group"}}>
                                <label for="state" class="control-label">State / Region</label>
                                {{input type="text" id="state" name="state" value=address.state class="form-control" placeholder="State"}}
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </fieldset>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-9 col-sm-offset-6">
            <button {{action "saveWwoofer"}} {{bind-attr disabled="isSaving"}} class="btn btn-primary btn-block">
                {{#if isNew}}
                    Next
                {{else}}
                    Save
                {{/if}}
            </button>
        </div>
    </div>
</form>