<div class="page-header">
    <h1>
        {{t 'memberships.index.title'}}
    </h1>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>{{t 'memberships.index.firstName'}}</th>
        <th>{{t 'memberships.index.lastName'}}</th>
        <th>{{t 'memberships.index.type'}}</th>
        <th>{{t 'memberships.index.expireAt'}}</th>
        <th>{{t 'memberships.index.actions'}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |membership|}}
        <tr>
            <td>{{membership.user.firstName}}</td>
            <td>{{membership.user.lastName}}</td>
            <td>{{membership.type}}</td>
            <td>{{format-date membership.expireAt}}</td>
            <td>
                <button {{action 'sendReminder' membership}} disabled={{membership.reminderAlreadySent}} class="btn btn-primary">
                    {{t 'memberships.index.sendReminder'}}
                </button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<p class="text-center">
    {{list-pagination currentPage=page totalPages=totalPages targetRoute='memberships'}}
</p>
