<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>
            {{t 'memberships.index.title'}}
        </h1>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{t 'memberships.index.firstName'}}</th>
            <th>{{t 'memberships.index.lastName'}}</th>
            <th>{{t 'memberships.index.type'}}</th>
            <th>{{t 'memberships.index.expireAt'}}</th>
            <th>{{t 'memberships.index.actions'}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each}}
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{type}}</td>
                <td>{{format-date expireAt}}</td>
                <td>
                    <button {{action 'sendReminder' this}} {{bind-attr disabled="reminderAlreadySent"}} class="btn btn-primary">
                        {{t 'memberships.index.sendReminder'}}
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <button {{action "loadMore"}} {{bind-attr disabled=isLoading}} class="btn btn-default">
        {{t 'literal.loadMore'}}
    </button>
</div>
