<div class="page-header">
    <h1>
        {{t 'memberships.index.title'}}
    </h1>
</div>

<p>
    <button {{action 'sendReminder' membership}} disabled={{cannotSendReminders}} class="btn btn-primary">
    {{t 'memberships.index.sendReminder'}} ({{remindableMembershipCount}})
    </button>
</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th>{{input type="checkbox" checked=allChecked}}</th>
        <th>{{t 'memberships.index.firstName'}}</th>
        <th>{{t 'memberships.index.lastName'}}</th>
        <th>{{t 'memberships.index.type'}}</th>
        <th>{{t 'memberships.index.createdAt'}}</th>
        <th>{{t 'memberships.index.total'}}</th>
        <th>{{t 'memberships.index.paymentType'}}</th>
        <th>{{t 'memberships.index.expireAt'}}</th>
        <th>Reminder</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |membership|}}
        {{membership-item membership=membership allChecked=allChecked itemToggled='itemToggled'}}
    {{/each}}
    </tbody>
</table>

<p class="text-center">
    {{list-pagination currentPage=page totalPages=totalPages targetRoute='memberships'}}
</p>
