<h1>{{t 'memberships.new.title'}}</h1>
<h4 class="mtm">
  <small>
    {{#if membership.isWwoofer}}
      {{t 'memberships.new.leadWwoof'}}
    {{/if}}
    {{#if membership.isHost}}
      {{t 'memberships.new.leadHost'}}
    {{/if}}
  </small>
</h4>
<div class="row mtl">
  <div class="col-xs-12 col-sm-9">
    <form class="form-horizontal">
      {{membership-form
      membership=membership
      shippingRegion=shippingRegion
      paymentType=paymentType
      isFree=isFree
      validations=validations
      isAdminMode=isAdminMode
      itemCodeChanged=(action 'itemCodeChanged')
      shippingRegionChanged=(action 'shippingRegionChanged')
      paymentTypeDidChange=(action 'paymentTypeDidChange')
      toggleIsFree=(action 'toggleIsFree')
      dateSelected=(action 'dateSelected')}}

      {{#if isAdminMode}}
        <div class="form-group">
          <div class="col-xs-12">
            <button type="button" class="btn btn-primary mbs" disabled={{isProcessing}} onclick={{action 'createMembership' membership}}>
              {{t 'memberships.new.create'}}
            </button>
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">{{t 'memberships.new.creditCard'}}</h4>
              </div>
              <div class="panel-body">
                {{#if membershipAlreadyActive}}
                  <div class="alert alert-warning mbn" role="alert">{{t 'notify.membershipAlreadyActive'}}</div>
                {{else if paymentFailureMessage}}
                  <div class="alert alert-warning" role="alert">
                    {{t 'memberships.new.paymentFailed'}}
                    <strong>{{paymentFailureMessage}}</strong>
                  </div>
                  <button {{action 'resetPaymentForm'}} class="btn btn-primary btn-block">
                    {{t 'memberships.new.reEnter'}}
                  </button>
                {{else}}
                  {{payment-form token=token onSubmit='processPayment' disableSubmit=isProcessing}}
                {{/if}}
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">{{t 'memberships.new.checkCash'}}</h4>
              </div>
              <div class="panel-body">
                <p>{{t 'memberships.new.address'}}</p>
                <address>
                  <strong>WWOOF France</strong><br>
                  Virginie LOPEZ<br>
                  9 Allée des Pins<br>
                  33480 Castelnau-de-Médoc<br>
                  FRANCE
                </address>
                <p class="text-muted">{{t 'memberships.new.checkLimitations'}}</p>
              </div>
            </div>
          </div>
        </div>
      {{/if}}
    </form>
  </div>

  <div class="hidden-xs col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-question-sign mrx"></span>
          {{t 'memberships.new.whyPay'}}
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{t 'memberships.new.whyPay1'}}
        </p>
        <hr/>
        <p>
          {{t 'memberships.new.whyPay2'}}
        </p>
        <hr/>
        <p>
          {{t 'memberships.new.whyPay3'}}
        </p>
      </div>
    </div>
  </div>
  <div class="hidden-xs col-sm-3">
    {{help-articles label='membership-new'}}
  </div>
</div>
