<div class="page-header">
    <h1>{{t 'memberships.new.title'}}</h1>
</div>

<p>{{t 'memberships.new.instructions'}}</p>

<form>
    <div class="row">
        {{#if showWwoofMemberships}}
            <div class="form-group col-md-12">
                <label for="wwoofMemberships" class="control-label">{{t 'memberships.new.wwoofer.label'}}</label>
                {{view "select"
                content=wwoofMembershipOptions
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=itemCode
                selection=selectedItem
                id="wwoofMemberships"
                class="form-control"}}
            </div>
        {{/if}}
        {{#if showShippingFees}}
            <div class="form-group col-md-12">
                <label for="shippingRegions" class="control-label">{{t 'memberships.new.shipping.label'}}</label>
                {{view "select"
                content=shippingRegionOptions
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=shippingRegion
                selection=selectedShippingRegion
                id="shippingRegions"
                class="form-control"}}
            </div>
        {{/if}}
        {{#if showHostMemberships}}
            <div class="form-group col-md-12">
                <label for="hostMemberships" class="control-label">{{t 'memberships.new.host.label'}}</label>
                {{view "select"
                content=hostMembershipOptions
                optionValuePath="content.id"
                optionLabelPath="content.name"
                value=itemCode
                selection=selectedItem
                id="hostMemberships"
                class="form-control"}}
            </div>
        {{/if}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <b>{{t 'memberships.new.total'}}:</b> {{total}} Euros
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'memberships.new.paypal'}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{t 'memberships.new.easiestWay'}}</p>
                    <button {{action "initPayment" itemCode shippingRegion}} class="btn btn-primary">{{t 'memberships.new.pay'}}</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <h4>— {{t 'memberships.new.or'}} —</h4>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'memberships.new.checkCash'}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{t 'memberships.new.address'}}</p>

                    Virginie LOPEZ<br/>
                    WWOOF France<br/>
                    86 bis rue Principale<br/>
                    33460 LAMARQUE (FRANCE)<br/>
                </div>
            </div>
        </div>
    </div>
</form>
