<h1>{{t 'memberships.new.title'}}</h1>
<h4 class="mtm">
    <small>
        {{#if showWwoofMemberships}}
            {{t 'memberships.new.leadWwoof'}}
        {{/if}}
        {{#if showHostMemberships}}
            {{t 'memberships.new.leadHost'}}
        {{/if}}
    </small>
</h4>
<div class="row mtl">
    <div class="col-sm-9 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{t 'memberships.new.options'}}
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="wwoofMemberships" class="col-sm-2 control-label">
                            {{t 'memberships.new.itemCode.label'}}
                        </label>
                        <div class="col-sm-10">
                            {{#if showWwoofMemberships}}
                                {{view "select"
                                        content=wwoofMembershipOptions
                                        optionValuePath="content.id"
                                        optionLabelPath="content.name"
                                        value=itemCode
                                        selection=selectedItem
                                        id="wwoofMemberships"
                                        class="form-control"}}
                            {{/if}}
                            {{#if showHostMemberships}}
                                {{view "select"
                                        content=hostMembershipOptions
                                        optionValuePath="content.id"
                                        optionLabelPath="content.name"
                                        value=itemCode
                                        selection=selectedItem
                                        id="hostMemberships"
                                        class="form-control"}}
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <p class="form-details mbm">
                            {{t 'memberships.new.itemCode.details'}}
                        </p>
                    </div>
                    {{#if showShippingFees}}
                        <div class="form-group">
                            <label for="shippingRegions" class="col-sm-2 control-label">
                                {{t 'memberships.new.shipping.label'}}
                            </label>
                            <div class="col-sm-10">
                                {{view "select"
                                        content=shippingRegionOptions
                                        optionValuePath="content.id"
                                        optionLabelPath="content.name"
                                        value=shippingRegion
                                        selection=selectedShippingRegion
                                        id="shippingRegions"
                                        class="form-control"}}
                            </div>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="form-details mbm">
                                {{t 'memberships.new.shipping.details'}}
                            </p>
                        </div>
                    {{/if}}
                    {{#if isAdminMode}}
                        <div class="form-group">
                            <label for="shippingRegions" class="col-sm-2 control-label">
                                {{t 'memberships.new.paymentType.label'}}
                            </label>
                            <div class="col-sm-10">
                                {{view "select"
                                    content=paymentTypeOptions
                                    optionValuePath="content.id"
                                    optionLabelPath="content.name"
                                    selection=selectedPaymentType
                                    id="paymentTypes"
                                    class="form-control"
                                    disabled=isFree}}
                                <div class="checkbox">
                                    <label>
                                        {{input type="checkbox" checked=isFree}}
                                        {{t 'memberships.new.isFree.label'}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    <div class="form-group mbx">
                        <label class="col-sm-2 control-label">{{t 'memberships.new.total'}}</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{total}} Euros</p>
                        </div>
                    </div>
                    {{#if isAdminMode}}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button {{action "createMembership"}} class="btn btn-primary mbs">
                                    {{t 'memberships.new.create'}}
                                </button>
                            </div>
                        </div>
                    {{/if}}
                </form>
            </div>
        </div>
        {{#unless isAdminMode}}
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{t 'memberships.new.paypal'}}</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                {{t 'memberships.new.easiestWay'}}
                            </p>
                            <button {{action "initPayment" itemCode shippingRegion}} class="btn btn-primary mbs">
                                {{t 'memberships.new.pay'}}
                            </button>
                            <p class="mbx small">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                {{t 'memberships.new.notePaypal'}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-center">
                    <h4>— {{t 'memberships.new.or'}} —</h4>
                </div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">{{t 'memberships.new.checkCash'}}</h4>
                        </div>
                        <div class="panel-body">
                            <p>{{t 'memberships.new.address'}}</p>
                            <p class="text-center">
                                <em>
                                    Virginie LOPEZ<br/>
                                    WWOOF France<br/>
                                    86 bis rue Principale<br/>
                                    33460 LAMARQUE (FRANCE)<br/>
                                </em>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/unless}}
    </div>
    <div class="col-sm-3 hidden-xs">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-question-sign mrx"></span>
                    {{t 'memberships.new.whyPay'}}
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    {{t 'memberships.new.whyPay1'}}
                </p>
                <hr/>
                <p>
                    {{t 'memberships.new.whyPay2'}}
                </p>
                <hr/>
                <p>
                    {{t 'memberships.new.whyPay3'}}
                </p>
            </div>
        </div>
    </div>
</div>
