<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon glyphicon-pencil mrx"></span>
          {{t 'host.contact.message' firstName=model.user.firstName}}
        </h3>
      </div>
      <div class="panel-body">
        <strong>
          {{t 'host.contact.rules'}}
        </strong>
        <ol>
          <li>{{t 'host.contact.rule1'}}</li>
          <li>{{t 'host.contact.rule2'}}</li>
          <li>{{t 'host.contact.rule3'}}</li>
        </ol>
        <form>
          {{#forms/form-group valuePath='message' as |showError|}}
            <label for="message" class="control-label">{{t 'host.contact.message.label'}}</label>

            {{textarea id='message' name='message' value=message class='form-control' rows='10' placeholder=(t 'host.contact.details' firstName=model.user.firstName)}}
            {{error-display error=validations.attrs.message showError=showError}}
          {{/forms/form-group}}
          {{!--
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="sendCopy" checked={{sendCopy}} onclick={{action 'toggleSendCopy' value='target.checked'}}>
                  {{t 'host.contact.sendCopy.label' email=sessionUser.user.email}}
                </label>
              </div>
            </div>
          </div>
          --}}
          <div class="form-group mbx">
            <button {{action "sendMessage"}} class="btn btn-primary" disabled={{isSending}}>
              <span class="glyphicon glyphicon-send mrx"></span>
              {{t 'literal.send'}}
            </button>
            {{#link-to 'host.index' model.id class="btn btn-default"}}
              {{t 'literal.back'}}
            {{/link-to}}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    {{help-articles label='host-message'}}
  </div>
</div>

{{#if showMessageSentModal}}
  {{#message-sent-modal close=(action 'closeModal')}}
    {{t 'host.contact.modal.message'}}
  {{/message-sent-modal}}
{{/if}}
