<div class="col-md-10 col-md-offset-1 mbm">
    <div class="page-header">
        {{#unless model.isNew}}
            <div class="btn-group pull-right">
                <button type="button" {{bind-attr class=":btn :btn-default model.isHidden::active"}} {{action "toggleIsHidden"}} {{ta title='host.form.hideShowProfile'}}>
                    {{#if model.isHidden}}
                        {{t 'host.form.showProfile'}}
                    {{else}}
                        {{t 'host.form.hideProfile'}}
                    {{/if}}
                </button>
            </div>
        {{/unless}}
        <h1>{{model.farmName}}</h1>
    </div>
    {{#unless model.isNew}}
        {{#if model.isPending}}
            {{partial 'host/validation-status'}}
        {{else}}
            {{#if belongsToCurrentUser}}
                {{#if model.isApproved}}
                    {{host-membership-status membershipsService=userMemberships}}
                {{else}}
                    <div class="alert alert-warning alert-dismissable" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        {{t 'host.membership-status.wasRejected'}}
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    {{/unless}}
    <form>
        <div class="row">
            <div class="col-md-6">
                <h3>{{t 'host.form.generalInformation'}}</h3>
                <div {{bind-attr class=":form-group model.fieldErrors.farmName.length:has-error"}}>
                    <label for="farm-name" class="control-label">{{t 'host.form.farmName.label'}}</label>
                    {{input type="text" id="farm-name" name="farm-name" value=model.farmName class="form-control" placeholderTranslation='host.form.farmName.placeholder'}}
                    {{error-display model.fieldErrors.farmName}}
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.webSite.length:has-error"}}>
                    <label for="webSite" class="control-label">{{t 'host.form.website.label'}}</label>
                    {{input type="text" id="webSite" name="webSite" value=model.webSite class="form-control" placeholderTranslation='host.form.website.placeholder'}}
                    {{error-display model.fieldErrors.webSite}}
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.phone.length:has-error"}}>
                    <label for="phone" class="control-label">{{t 'host.form.phone.label'}}</label>
                    {{input type="text" id="phone" name="phone" value=model.user.phone class="form-control" placeholderTranslation='host.form.phone.placeholder'}}
                    {{error-display model.fieldErrors.phone}}
                </div>
                <div {{bind-attr class=":form-group"}}>
                    <label for="travel" class="control-label">{{t 'host.form.travel.label'}}</label>
                    {{input type="text" id="travelDetails" name="travelDetails" value=model.travelDetails class="form-control" placeholderTranslation='host.form.travel.placeholder'}}
                </div>
            </div>
            <div class="col-md-6">
                <h3>{{t 'host.form.addressInformation'}}</h3>
                <div {{bind-attr class=":form-group model.address.fieldErrors.address1.length:has-error"}}>
                    <label for="address1" class="control-label">{{t 'address.form.address1.label'}}</label>
                    {{input type="text" id="address1" name="address1" value=model.address.address1 class="form-control" placeholderTranslation='address.form.address1.placeholder'}}
                    {{error-display model.address.fieldErrors.address1}}
                </div>
                <div {{bind-attr class=":form-group model.address.fieldErrors.address2.length:has-error"}}>
                    <label for="address2" class="control-label">{{t 'address.form.address2.label'}}</label>
                    {{input type="text" id="address2" name="address2" value=model.address.address2 class="form-control" placeholderTranslation='address.form.address2.placeholder'}}
                    {{error-display model.address.fieldErrors.address2}}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div {{bind-attr class=":form-group model.address.fieldErrors.zipCode.length:has-error"}}>
                            <label for="zipCode" class="control-label">{{t 'address.form.zipCode.label'}}</label>
                            {{input type="text" id="zipCode" name="zipCode" value=model.address.zipCode class="form-control"}}
                            {{error-display model.address.fieldErrors.zipCode}}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div {{bind-attr class=":form-group model.address.fieldErrors.city.length:has-error"}}>
                            <label for="city" class="control-label">{{t 'address.form.city.label'}}</label>
                            {{input type="text" id="city" name="city" value=model.address.city class="form-control"}}
                            {{error-display model.address.fieldErrors.city}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div {{bind-attr class=":form-group model.address.fieldErrors.country.length:has-error"}}>
                            <label for="country" class="control-label">{{t 'address.form.country.label'}}</label>
                            {{view "select"
                            content=controllers.countries.hostCountries
                            optionValuePath="content.id"
                            optionLabelPath="content.name"
                            selection=model.address.country
                            class="form-control"
                            name="country"
                            promptTranslation='address.form.country.prompt'}}
                            {{error-display model.address.fieldErrors.country}}
                        </div>
                    </div>
                    {{#if model.address.country}}
                        {{#if model.address.country.isFrance}}
                            <div class="col-md-6">
                                <div {{bind-attr class=":form-group"}}>
                                    <label for="department" class="control-label">{{t 'address.form.department.label'}}</label>
                                    {{view "select"
                                    content=controllers.departments.content
                                    optionValuePath="content.id"
                                    optionLabelPath="content.name"
                                    selection=model.address.department
                                    class="form-control"
                                    name="department"}}
                                </div>
                            </div>
                        {{else}}
                            <div class="col-md-6">
                                <div {{bind-attr class=":form-group"}}>
                                    <label for="state" class="control-label">{{t 'address.form.state.label'}}</label>
                                    {{input type="text" id="state" name="state" value=model.address.state class="form-control"}}
                                </div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
                {{#if session.user.isAdmin}}
                    <div class="row">
                        <div class="col-md-6">
                            <div {{bind-attr class=":form-group model.address.fieldErrors.latitude.length:has-error"}}>
                                <label for="latitude" class="control-label">{{t 'address.form.latitude.label'}}</label>
                                {{input type="number" id="latitude" name="latitude" value=model.address.latitude class="form-control"}}
                                {{error-display model.address.fieldErrors.latitude}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div {{bind-attr class=":form-group model.address.fieldErrors.longitude.length:has-error"}}>
                                <label for="longitude" class="control-label">{{t 'address.form.longitude.label'}}</label>
                                {{input type="number" id="longitude" name="longitude" value=model.address.longitude class="form-control"}}
                                {{error-display model.address.fieldErrors.longitude}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>{{t 'host.form.farmDescription'}}</h3>
                <div {{bind-attr class=":form-group model.fieldErrors.shortDescription.length:has-error"}}>
                    <label for="shortDescription" class="control-label">{{t 'host.form.shortDescription.label'}}</label>
                    {{input type="text" id="shortDescription" name="shortDescription" value=model.shortDescription class="form-control" placeholderTranslation='host.form.shortDescription.placeholder'}}
                    {{error-display model.fieldErrors.shortDescription}}
                </div>
                <div {{bind-attr class=":form-group model.fieldErrors.fullDescription.length:has-error"}}>
                    <label for="fullDescription" class="control-label">{{t 'host.form.fullDescription.label'}}</label>
                    {{textarea id="fullDescription" name="fullDescription" value=model.fullDescription class="form-control" placeholderTranslation='host.form.fullDescription.placeholder' rows="8"}}
                    {{error-display model.fieldErrors.fullDescription}}
                </div>
                {{#if session.user.isAdmin}}
                    <div {{bind-attr class=":form-group model.fieldErrors.note.length:has-error"}}>
                        <label for="note" class="control-label">{{t 'host.form.note.label'}}</label>
                        {{textarea id="note" name="note" value=model.note class="form-control" rows="4"}}
                        {{error-display model.fieldErrors.note}}
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>{{t 'host.form.communicationPreferences'}}</h3>
                <div class="checkbox mlm">
                    <label>
                        {{input type="checkbox" id="noPhone" name="noPhone" checked=model.noPhone}}
                        {{t 'host.form.noPhone.label'}}
                    </label>
                </div>
                <div class="checkbox mlm">
                    <label>
                        {{input type="checkbox" id="noEmail" name="noEmail" checked=model.noEmail}}
                        {{t 'host.form.noEmail.label'}}
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <h3>{{t 'host.form.activities'}}</h3>
                <div class="toggle-options-cols mts">
                    {{toggle-options values=allActivities selected=model.activities buttonDisplayName=activitiesDisplayName optionValuePath='id'}}
                </div>
            </div>
        </div>
        <div class="row mtm">
            <div class="col-xs-12">
                <button {{action "saveHost"}} disabled={{model.isSaving}} class="btn btn-primary pull-right mls">
                    {{t 'literal.save'}}
                </button>
                {{#link-to 'index' class="btn btn-default pull-right"}}
                    {{t 'literal.cancel'}}
                {{/link-to}}
            </div>
        </div>
    </form>

    {{#unless model.isNew}}
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <h3>{{t 'host.form.newPhoto'}}</h3>
                    <p>
                        <i><small>{{t 'host.form.photoLimitations'}}</small></i>
                    </p>
                    <div class="form-group">
                        <input id="file_upload" type="file" name="file" data-url="api/photos">
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </form>
            </div>
        </div>

        {{#if model.photos}}
            <h3>{{t 'host.form.editDeletePhoto'}}</h3>
            {{#each photo in model.photos itemController="photo"}}
                <div class="row">
                    <div class="col-sm-4 mbm">
                        {{host-thumb url=controller.model.completeUrl}}
                    </div>
                    <div class="col-xs-8 col-sm-4 mbm">
                        {{input type="text" name="caption" value=controller.model.caption class="form-control" placeholderTranslation='host.form.caption.placeholder'}}
                    </div>
                    <div class="col-xs-4 col-sm-4 mbm">
                        <button {{action "savePhoto"}} disabled={{controller.model.cannotSave}} class="btn btn-primary">
                            {{t 'literal.save'}}
                        </button>
                        <button {{action "deletePhoto"}} class="btn btn-default" aria-label={{t 'literal.delete'}}>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    {{/unless}}
</div>
