<div class="page-header">
    {{#unless isNew}}
        <div class="btn-group pull-right">
            <button type="button" {{bind-attr class=":btn :btn-primary isHidden::active"}} {{action "toggleIsHidden"}} {{ta title='host.form.hideShowProfile'}}>
                {{#if isHidden}}
                    {{t 'host.form.showProfile'}}
                {{else}}
                    {{t 'host.form.hideProfile'}}
                {{/if}}
            </button>
        </div>
    {{/unless}}
    <h1>{{farmName}}</h1>
</div>
{{#unless isNew}}
    {{#if isPending}}
        {{partial 'host/validation-status'}}
    {{else}}
        {{#if belongsToCurrentUser}}
            {{#if isApproved}}
                {{host-membership-status membershipsService=userMemberships}}
            {{else}}
                <div class="alert alert-warning alert-dismissable" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{t 'host.membership-status.wasRejected'}}
                </div>
            {{/if}}
        {{/if}}
    {{/if}}
{{/unless}}
<form>
    <div class="row">
        <fieldset class="col-md-6">
            <legend class="h4">{{t 'host.form.generalInformation'}}</legend>
            <div {{bind-attr class=":form-group fieldErrors.farmName.length:has-error"}}>
                <label for="farm-name" class="control-label">{{t 'host.form.farmName.label'}}</label>
                {{input type="text" id="farm-name" name="farm-name" value=farmName class="form-control" placeholderTranslation='host.form.farmName.placeholder'}}
                {{error-display fieldErrors.farmName}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.webSite.length:has-error"}}>
                <label for="webSite" class="control-label">{{t 'host.form.website.label'}}</label>
                {{input type="text" id="webSite" name="webSite" value=webSite class="form-control" placeholderTranslation='host.form.website.placeholder'}}
                {{error-display fieldErrors.webSite}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.phone.length:has-error"}}>
                <label for="phone" class="control-label">{{t 'host.form.phone.label'}}</label>
                {{input type="text" id="phone" name="phone" value=user.phone class="form-control" placeholderTranslation='host.form.phone.placeholder'}}
                {{error-display fieldErrors.phone}}
            </div>
            <div {{bind-attr class=":form-group"}}>
                <label for="travel" class="control-label">{{t 'host.form.travel.label'}}</label>
                {{input type="text" id="travelDetails" name="travelDetails" value=travelDetails class="form-control" placeholderTranslation='host.form.travel.placeholder'}}
            </div>
        </fieldset>

        <fieldset class="col-md-6">
            <legend class="h4">{{t 'host.form.addressInformation'}}</legend>
            <div {{bind-attr class=":form-group address.fieldErrors.address1.length:has-error"}}>
                <label for="address1" class="control-label">{{t 'address.form.address1.label'}}</label>
                {{input type="text" id="address1" name="address1" value=address.address1 class="form-control" placeholderTranslation='address.form.address1.placeholder'}}
                {{error-display address.fieldErrors.address1}}
            </div>
            <div {{bind-attr class=":form-group address.fieldErrors.address2.length:has-error"}}>
                <label for="address2" class="control-label">{{t 'address.form.address2.label'}}</label>
                {{input type="text" id="address2" name="address2" value=address.address2 class="form-control" placeholderTranslation='address.form.address2.placeholder'}}
                {{error-display address.fieldErrors.address2}}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div {{bind-attr class=":form-group address.fieldErrors.zipCode.length:has-error"}}>
                        <label for="zipCode" class="control-label">{{t 'address.form.zipCode.label'}}</label>
                        {{input type="text" id="zipCode" name="zipCode" value=address.zipCode class="form-control"}}
                        {{error-display address.fieldErrors.zipCode}}
                    </div>
                </div>
                <div class="col-md-8">
                    <div {{bind-attr class=":form-group address.fieldErrors.city.length:has-error"}}>
                        <label for="city" class="control-label">{{t 'address.form.city.label'}}</label>
                        {{input type="text" id="city" name="city" value=address.city class="form-control"}}
                        {{error-display address.fieldErrors.city}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div {{bind-attr class=":form-group model.address.fieldErrors.country.length:has-error"}}>
                        <label for="country" class="control-label">{{t 'address.form.country.label'}}</label>
                        {{view "select"
                        content=controllers.countries.hostCountries
                        optionValuePath="content.id"
                        optionLabelPath="content.name"
                        selection=address.country
                        class="form-control"
                        name="country"
                        promptTranslation='address.form.country.prompt'}}
                        {{error-display address.fieldErrors.country}}
                    </div>
                </div>
                {{#if address.country}}
                    {{#if address.country.isFrance}}
                        <div class="col-md-6">
                            <div {{bind-attr class=":form-group"}}>
                                <label for="department" class="control-label">{{t 'address.form.department.label'}}</label>
                                {{view "select"
                                content=controllers.departments.content
                                optionValuePath="content.id"
                                optionLabelPath="content.name"
                                selection=address.department
                                class="form-control"
                                name="department"}}
                            </div>
                        </div>
                    {{else}}
                        <div class="col-md-6">
                            <div {{bind-attr class=":form-group"}}>
                                <label for="state" class="control-label">{{t 'address.form.state.label'}}</label>
                                {{input type="text" id="state" name="state" value=address.state class="form-control"}}
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="col-md-12">
            <legend class="h4">{{t 'host.form.farmDescription'}}</legend>
            <div {{bind-attr class=":form-group fieldErrors.shortDescription.length:has-error"}}>
                <label for="shortDescription" class="control-label">{{t 'host.form.shortDescription.label'}}</label>
                {{input type="text" id="shortDescription" name="shortDescription" value=shortDescription class="form-control" placeholderTranslation='host.form.shortDescription.placeholder'}}
                {{error-display fieldErrors.shortDescription}}
            </div>
            <div {{bind-attr class=":form-group fieldErrors.fullDescription.length:has-error"}}>
                <label for="entry" class="control-label">{{t 'host.form.fullDescription.label'}}</label>
                {{textarea id="fullDescription" name="fullDescription" value=fullDescription class="form-control" placeholderTranslation='host.form.fullDescription.placeholder' rows="8"}}
                {{error-display fieldErrors.fullDescription}}
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="col-md-6">
            <legend class="h4">{{t 'host.form.communicationPreferences'}}</legend>
            <div class="checkbox">
                <label>
                    {{input type="checkbox" id="noPhone" name="noPhone" checked=noPhone}}
                    {{t 'host.form.noPhone.label'}}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    {{input type="checkbox" id="noEmail" name="noEmail" checked=noEmail}}
                    {{t 'host.form.noEmail.label'}}
                </label>
            </div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend class="h4">{{t 'host.form.activities'}}</legend>
            {{toggle-options values=allActivities selected=activities buttonDisplayName=activitiesDisplayName optionValuePath='id'}}
        </fieldset>
    </div>
    <div class="row">
        <div class="col-tn-12 float-r-xs">
            {{#link-to 'index' class="btn btn-default"}}{{t 'literal.cancel'}}{{/link-to}}
            <button {{action "saveHost"}} {{bind-attr disabled="isSaving"}} class="btn btn-primary btn-block-tn">{{t 'literal.save'}}</button>
        </div>
    </div>
</form>

{{#unless isNew}}
    <hr>
    <form>
        <div class="row">
            <div class="col-md-12">
                <h4>{{t 'host.form.newPhoto'}}</h4>
                <p>
                    <i><small>{{t 'host.form.photoLimitations'}}</small></i>
                </p>
                <div class="form-group">
                    <input id="file_upload" type="file" name="file" data-url="api/photos">
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </form>
    {{#if photos}}
        <div class="row">
            <div class="col-md-12">
                <h4>{{t 'host.form.editDeletePhoto'}}</h4>
                <div class="table table-hover col-sm-12 col-tn-12">
                    {{#each photos itemController="photo"}}
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12 col-tn-12">
                                <div class="host-thumb">
                                    {{host-thumb url=completeUrl}}
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-tn-12">
                                {{input type="text" name="caption" value=caption class="form-control" placeholderTranslation='host.form.caption.placeholder'}}
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-tn-12">
                                <button {{action "savePhoto"}} {{bind-attr disabled="cannotSave"}} class="btn btn-primary pull-right btn-block-tn margin-bottom-tn" style="margin-left:10px">
                                    {{t 'literal.save'}}
                                </button>
                                <button {{action "deletePhoto"}} class="btn btn-default pull-right btn-block-tn">
                                    {{t 'literal.delete'}}
                                </button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
{{/unless}}
