<div class="row">
  <div class="col-xs-12 col-md-9">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            {{photo-carousel photos=model.sortedPhotos noPhotoUrl=model.displayedThumbnail.urlLarge}}
            <div class="row">
              <div class="col-xs-10">
                <h3 class="mbx">
                  {{model.displayedFarmName}}
                  {{#if showEditProfileButton}}
                    ({{#link-to 'host.edit' model.id}}{{t 'literal.editProfile'}}{{/link-to}})
                  {{/if}}
                </h3>
              </div>
              <div class="col-xs-2 mtm">
                <a class="share-btn pull-right" rel="nofollow" title="Share on Facebook" href={{model.fbShareUrl}} target="_blank">
                  <span class="sr-only">Facebook</span>
                  <img src="/assets/images/facebook-share.png"/>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {{#if showNote}}
        <div class="col-xs-12">
          <div class="alert alert-info" role="alert">
            <strong>{{t 'host.index.note'}}</strong>: {{model.user.note}}
          </div>
        </div>
      {{/if}}
      <div class="col-xs-12 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-pushpin mrx"></span>
              {{t 'host.index.generalInformation'}}
            </h3>
          </div>
          <table class="table table-striped">
            <tbody>
            <tr>
              <td>
                <span class="glyphicon glyphicon-user mrx"></span>
                {{#if isActiveMember}}
                  <span class="text-capitalize">
                    {{#link-to 'user.index' model.user.id}}
                      {{model.user.firstName}}
                    {{/link-to}}
                  </span>
                {{else}}
                  {{members-only}}
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-map-marker mrx"></span>
                {{#if isActiveMember}}
                  <span class="text-capitalize">{{model.address.city}}</span> ({{model.address.department.name}})
                {{else}}
                  {{members-only}}
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-plane mrx"></span>
                {{#if model.travelDetails}}
                  {{model.travelDetails}}
                {{else}}
                  -
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-star mrx"></span>
                {{#if model.user.hasHostMemberships}}
                  {{t 'host.index.memberSince'}} {{moment-format model.user.firstHostMembership.createdAt 'MMMM YYYY'}}
                {{else}}
                  {{t 'host.index.notAMember'}}
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>
                <span class="glyphicon glyphicon-time mrx"></span>
                {{t 'host.index.updated'}} {{moment-from-now model.updatedAt}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        {{#if model.activities}}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class="glyphicon glyphicon-grain mrx"></span>
                {{t 'host.index.activities'}}
              </h3>
            </div>
            <table class="table table-striped">
              <tbody>
              {{#each model.displayedActivities as |activity|}}
                <tr>
                  <td>{{activity}}</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        {{/if}}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-home mrx"></span>
              {{t 'host.index.accommodation'}}
            </h3>
          </div>
          <table class="table table-striped">
            <tbody>
            {{#each model.displayedLodgings as |lodging|}}
              <tr>
                <td colspan="2">
                  {{lodging}}
                </td>
              </tr>
            {{/each}}
            <tr>
              <td>{{t 'host.index.capacity'}}</td>
              <td class="text-right">
                {{t 'host.index.displayedCapacity' count=model.displayedCapacity}}
              </td>
            </tr>
            <tr>
              <td>{{t 'host.index.childrenOk'}}</td>
              <td class="text-right">
                <span class="glyphicon prx {{if model.childrenOk 'glyphicon-ok text-primary' 'glyphicon-ban-circle'}}"></span>
                {{#if model.childrenOk}}
                  {{tool-tip title=(t 'host.index.childrenOk.tooltip')}}
                {{/if}}
              </td>
            </tr>
            <tr>
              <td>{{t 'host.index.petsOk'}}</td>
              <td class="text-right">
                <span class="glyphicon prx {{if model.petsOk 'glyphicon-ok text-primary' 'glyphicon-ban-circle'}}"></span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-12 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-pencil mrx"></span>
              {{t 'host.index.description'}}
            </h3>
          </div>
          <div class="panel-body">
            {{convert-breaklines model.fullDescription}}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span class="glyphicon glyphicon-comment mrx"></span>
              {{t 'literal.reviews'}}
            </h3>
          </div>
          <ul class="list-group">
            {{#if sessionUser.user.hasMemberships}}
              {{#each model.displayedReviews as |review|}}
                {{review-item
                  review=review
                  isCurrentUserProfile=isCurrentUserProfile
                  saveReviewReply=(action 'saveReviewReply')
                  deleteReview=(action 'deleteReview')}}
              {{else}}
                <li class="list-group-item">{{t 'host.index.noReviews' firstName=model.user.firstName}}</li>
              {{/each}}
            {{else}}
              <li class="list-group-item">
                {{members-only}}
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{t 'host.index.contact' firstName=model.user.firstName}}
        </h3>
      </div>
      <table class="table">
        <tbody>
        {{#if sessionUser.user.isAdmin}}
          <tr>
            <td>
              <span class="glyphicon glyphicon-envelope mrx"></span>
              {{mail-to model.user.email (truncate model.user.email limit=26)}}
            </td>
          </tr>
        {{/if}}
        <tr>
          <td>
            <span class="glyphicon glyphicon-earphone mrx"></span>
            {{#if isActiveMember}}
              {{#if model.noPhone}}
                {{t 'host.index.noPhone'}}
              {{else}}
                {{model.user.phone}}
              {{/if}}
            {{else}}
              {{members-only}}
            {{/if}}
          </td>
        </tr>
        <tr>
          <td>
            <span class="glyphicon glyphicon-globe mrx"></span>
            {{#if isActiveMember}}
              {{#if model.webSite}}
                <a href={{model.webSite}} title={{model.webSite}} target="_blank">
                  {{truncate model.webSite limit=28}}
                </a>
              {{else}}
                {{t 'host.index.noWebsite'}}
              {{/if}}
            {{else}}
              {{members-only}}
            {{/if}}
          </td>
        </tr>
        </tbody>
      </table>
      {{#unless model.noEmail}}
        <ul class="list-group">
          {{#link-to 'conversations.new' (query-params user2Id=model.user.id) class='list-group-item list-group-item-primary text-center'}}
            {{t 'host.index.sendMessage'}}
          {{/link-to}}
        </ul>
      {{/unless}}
    </div>

    <div class="list-group">
      <button class="list-group-item" onclick={{action 'toggleFavorites' model sessionUser.user}}>
        {{#if model.isFavorite}}
          <span class="glyphicon glyphicon-heart mrx"></span>
          {{t 'common.removeFavorite'}}
        {{else}}
          <span class="glyphicon glyphicon-heart-empty mrx"></span>
          {{t 'common.addFavorite'}}
        {{/if}}
      </button>
      <button class="list-group-item {{if disableNewReview 'disabled'}}" disabled={{disableNewReview}} onclick={{action 'writeNewReview'}}>
        <span class="glyphicon glyphicon-pencil mrx"></span>
        {{t 'host.index.writeReview'}}
      </button>
    </div>

    {{#if model.isPendingApproval}}
      {{host-approval-status host=model}}
    {{/if}}

    <div class="panel panel-default hidden-xs hidden-sm">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-map-marker mrx"></span>
          {{t 'host.index.location'}}
        </h3>
      </div>
      <div class="panel-body pan">
        {{google-map latitude=model.address.latitude longitude=model.address.longitude}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-calendar mrx"></span>
          {{t 'host.index.openingMonths'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each model.openingCalendar as |month|}}
          <tr>
            <td class="text-capitalize">
              {{month.label}}
            </td>
            <td class="text-right {{if month.isOpen 'text-primary' 'text-danger'}}">
              {{#if month.isOpen}}
                {{t 'host.index.open'}}
              {{else}}
                {{t 'host.index.closed'}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-bed mrx"></span>
          {{t 'host.index.stays'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each model.displayedStays as |stay|}}
          <tr>
            <td>{{stay.label}}</td>
            <td class="text-right">
              <span class="glyphicon prx {{if stay.isOk 'glyphicon-ok text-primary' 'glyphicon-ban-circle'}}"></span>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
