<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        {{#if canEditHost}}
            {{#link-to 'host.edit' class="btn btn-primary pull-right btn-inline-margin"}}{{t 'host.index.editProfile'}}{{/link-to}}
        {{/if}}
        {{#link-to 'hosts' class="btn btn-default pull-right"}}{{t 'literal.back'}}{{/link-to}}
        <h1>{{farmName}}</h1>
    </div>

    {{#if isPending}}
        {{partial 'host/validation-status'}}
    {{else}}
        {{#if belongsToCurrentUser}}
            {{#if isApproved}}
                {{host-membership-status membershipsService=userMemberships}}
            {{else}}
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{t 'host.membership-status.wasRejected'}}
                </div>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if showNote}}
        <div class="alert alert-info" role="alert">
            <strong>{{t 'host.index.note'}}</strong>: {{note}}
        </div>
    {{/if}}

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="host-photos-carousel">
                {{photo-carousel photos=photos}}
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="pull-right">
            {{google-map latitude=address.latitude longitude=address.longitude}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h4>Contact Information</h4>
        </div>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-envelope"></span>
            {{#unless noEmail}}
                {{#if canSeeContactInfo}}
                    {{mail-to user.email}}
                {{else}}
                    {{members-only}}
                {{/if}}
            {{/unless}}
            <br>
            <span class="glyphicon glyphicon-earphone"></span>
            {{#unless noPhone}}
                {{#if canSeeContactInfo}}
                    {{user.phone}}
                {{else}}
                    {{members-only}}
                {{/if}}
            {{/unless}}
            <br>
            <span class="glyphicon glyphicon-plane"></span>
            {{travelDetails}}
            <br>
            <span class="glyphicon glyphicon-globe"></span>
            {{#if canSeeContactInfo}}
                {{#if webSite}}
                    <a {{bind-attr href=webSite}} target="_blank">{{webSite}}</a>
                {{else}}
                    No website provided
                {{/if}}
            {{else}}
                {{members-only}}
            {{/if}}
        </div>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-home"></span>
            {{#if canSeeContactInfo}}
                {{user.firstName}} {{user.lastName}}<br>
                <span>
                    {{address.address1}}<br>
                    {{#if address.address2}}
                        {{address.address2}}
                        <br>
                    {{/if}}
                </span>
                <span>
                    {{address.zipCode}} {{address.city}}
                </span>
            {{else}}
                {{members-only}}
            {{/if}}
        </div>
    </div>
    <hr>
    {{#if activities}}
        <div class="row">
            <div class="col-md-3">
                <h4>{{t 'host.index.activities'}}</h4>
            </div>
            <div class="col-md-9">
                {{#each activity in displayedActivities}}
                    <span class="label label-activity">{{activity}}</span>
                {{/each}}
            </div>
        </div>
        <hr>
    {{/if}}
    <div class="row">
        <div class="col-md-3">
            <h4>Description</h4>
        </div>
        <div class="col-md-9">
            {{convert-breaklines fullDescription}}
        </div>
    </div>
</div>
