<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        {{#link-to 'hosts' class="btn btn-default pull-right"}}{{t 'literal.back'}}{{/link-to}}
        <h1>{{farmName}}</h1>
    </div>

    {{#if isPending}}
        {{partial 'host/validation-status'}}
    {{else}}
        {{#if belongsToCurrentUser}}
            {{#if isApproved}}
                {{host-membership-status membershipsService=userMemberships}}
            {{else}}
                <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{t 'host.membership-status.wasRejected'}}
                </div>
            {{/if}}
        {{/if}}
    {{/if}}

    {{#if showNote}}
        <div class="alert alert-info" role="alert">
            <strong>{{t 'host.index.note'}}</strong>: {{note}}
        </div>
    {{/if}}

    <div class="row">
        <div class="col-lg-8 host-photos-carousel">
            {{photo-carousel photos=photos}}
        </div>
        <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
            {{google-map latitude=address.latitude longitude=address.longitude}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h4>{{t 'host.index.generalInformation'}}</h4>
        </div>
        <div class="col-md-4">
            <p>
                <span class="glyphicon glyphicon-envelope mrx"></span>
                {{#unless noEmail}}
                    {{#if canSeeContactInfo}}
                        {{mail-to user.email}}
                    {{else}}
                        {{members-only}}
                    {{/if}}
                {{/unless}}
            </p>
            <p>
                <span class="glyphicon glyphicon-earphone mrx"></span>
                {{#unless noPhone}}
                    {{#if canSeeContactInfo}}
                        {{user.phone}}
                    {{else}}
                        {{members-only}}
                    {{/if}}
                {{/unless}}
            </p>
            <p>
                <span class="glyphicon glyphicon-plane mrx"></span>
                {{travelDetails}}
            </p>
            <p>
                <span class="glyphicon glyphicon-globe mrx"></span>
                {{#if canSeeContactInfo}}
                    {{#if webSite}}
                        <a {{bind-attr href=webSite}} target="_blank">{{webSite}}</a>
                    {{else}}
                        {{t 'host.index.noWebsite'}}
                    {{/if}}
                {{else}}
                    {{members-only}}
                {{/if}}
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <span class="glyphicon glyphicon-user mrx"></span>
                {{#if canSeeContactInfo}}
                    {{user.firstName}} {{user.lastName}}
                {{else}}
                    {{members-only}}
                {{/if}}
            </p>
            <p>
                <span class="glyphicon glyphicon-home mrx"></span>
                {{#if canSeeContactInfo}}
                    {{address.address1}}
                    {{#if address.address2}}
                        / {{address.address2}}
                    {{/if}}
                    / {{address.zipCode}} {{address.city}}
                {{else}}
                    {{members-only}}
                {{/if}}
            </p>
            <p>
                <span class="glyphicon glyphicon-star mrx"></span>
                {{t 'host.index.memberSince'}} {{format-date createdAt format='MMMM YYYY'}}
            </p>
        </div>
    </div>
    <hr>
    {{#if activities}}
        <div class="row">
            <div class="col-md-3">
                <h4>{{t 'host.index.activities'}}</h4>
            </div>
            <div class="col-md-9">
                {{#each activity in displayedActivities}}
                    <span class="label label-activity">{{activity}}</span>
                {{/each}}
            </div>
        </div>
        <hr>
    {{/if}}
    <div class="row mbl">
        <div class="col-md-3">
            <h4>{{t 'host.index.description'}}</h4>
        </div>
        <div class="col-md-9">
            {{expandable-text text=fullDescription}}
        </div>
    </div>
</div>
