<div class="page-header">
  {{#link-to 'hosts' class="btn btn-default pull-right"}}{{t 'literal.back'}}{{/link-to}}
  <h1>{{model.farmName}}</h1>
</div>

{{#if model.isPendingApproval}}
  {{host-approval-status host=model}}
{{/if}}

{{#if showNote}}
  <div class="alert alert-info" role="alert">
    <strong>{{t 'host.index.note'}}</strong>: {{model.note}}
  </div>
{{/if}}

<div class="row">
  <div class="col-lg-8 host-photos-carousel">
    {{photo-carousel photos=model.photos}}
  </div>
  <div class="col-lg-4 hidden-xs hidden-sm hidden-md">
    {{google-map latitude=model.address.latitude longitude=model.address.longitude}}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-3">
    <h4>{{t 'host.index.generalInformation'}}</h4>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <p>
      <span class="glyphicon glyphicon-envelope mrx"></span>
      {{#if canSeeContactInfo}}
        {{#unless model.noEmail}}
          {{mail-to model.user.email}}
        {{/unless}}
      {{else}}
        {{members-only}}
      {{/if}}
    </p>

    <p>
      <span class="glyphicon glyphicon-earphone mrx"></span>
      {{#if canSeeContactInfo}}
        {{#unless model.noPhone}}
          {{model.user.phone}}
        {{/unless}}
      {{else}}
        {{members-only}}
      {{/if}}
    </p>

    <p>
      <span class="glyphicon glyphicon-plane mrx"></span>
      {{model.travelDetails}}
    </p>

    <p>
      <span class="glyphicon glyphicon-globe mrx"></span>
      {{#if canSeeContactInfo}}
        {{#if model.webSite}}
          <a href={{model.webSite}} target="_blank">{{model.webSite}}</a>
        {{else}}
          {{t 'host.index.noWebsite'}}
        {{/if}}
      {{else}}
        {{members-only}}
      {{/if}}
    </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <p>
      <span class="glyphicon glyphicon-user mrx"></span>
      {{#if canSeeContactInfo}}
        {{model.user.firstName}} {{model.user.lastName}}
      {{else}}
        {{members-only}}
      {{/if}}
    </p>

    <p>
      <span class="glyphicon glyphicon-map-marker mrx"></span>
      {{#if canSeeContactInfo}}
        {{model.address.city}} ({{model.address.zipCode}})
      {{else}}
        {{members-only}}
      {{/if}}
    </p>

    <p>
      <span class="glyphicon glyphicon-star mrx"></span>
      {{t 'host.index.memberSince'}} {{format-date model.user.createdAt format='MMMM YYYY'}}
    </p>
    <p>
      <span class="glyphicon glyphicon-time mrx"></span>
      {{t 'host.index.updated'}} {{moment-from-now model.updatedAt}}
    </p>
  </div>
</div>
<hr>
{{#if model.activities}}
  <div class="row">
    <div class="col-md-3">
      <h4>{{t 'host.index.activities'}}</h4>
    </div>
    <div class="col-md-9">
      {{#each model.displayedActivities as |activity|}}
        <span class="label label-activity">{{activity}}</span>
      {{/each}}
    </div>
  </div>
  <hr>
{{/if}}
{{#if model.openingMonths}}
  <div class="row">
    <div class="col-md-3">
      <h4>{{t 'host.index.openingMonths'}}</h4>
    </div>
    <div class="col-md-9">
      {{#each model.openingCalendar as |month|}}
        <div class="col-xs-4 col-sm-3 col-lg-2 opening-month {{if month.isOpen 'text-primary'}}">
          <span class="glyphicon {{if month.isOpen 'glyphicon-ok' 'glyphicon-ban-circle'}}"></span>
          {{month.label}}
        </div>
      {{/each}}
    </div>
  </div>
  <hr>
{{/if}}
<div class="row mbm">
  <div class="col-md-3">
    <h4>{{t 'host.index.description'}}</h4>
  </div>
  <div class="col-md-9">
    {{expandable-text text=model.fullDescription}}
    <p class="mtl">
      {{#unless model.noEmail}}
        {{#if canSeeContactInfo}}
          {{#link-to 'host.contact' model.id class="btn btn-primary"}}
            <span class="glyphicon glyphicon-envelope mrx"></span>
            {{t 'host.index.contactHost'}}
          {{/link-to}}
        {{/if}}
      {{/unless}}
    </p>
  </div>
</div>
