<div class="page-header">
  {{#link-to 'hosts' class="btn btn-default pull-right"}}{{t 'literal.back'}}{{/link-to}}
  <h1>{{model.farmName}}</h1>
</div>

{{#if model.isPendingApproval}}
  {{host-approval-status host=model}}
{{/if}}

{{#if showNote}}
  <div class="alert alert-info" role="alert">
    <strong>{{t 'host.index.note'}}</strong>: {{model.note}}
  </div>
{{/if}}

<div class="row pbm">
  <div class="col-md-8 host-photos-carousel">
    {{photo-carousel photos=model.photos}}
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    {{google-map latitude=model.address.latitude longitude=model.address.longitude}}
  </div>
</div>

<div class="row ptm">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-pushpin mrx"></span>
          {{t 'host.index.generalInformation'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>
              <span class="glyphicon glyphicon-user mrx"></span>
              {{#if canSeeContactInfo}}
                <psan class="capitalize">{{model.user.fullName}}</psan>
              {{else}}
                {{members-only}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-envelope mrx"></span>
              {{#if canSeeContactInfo}}
                {{#if model.noEmail}}
                  -
                {{else}}
                  {{mail-to model.user.email (truncate model.user.email limit=28)}}
                {{/if}}
              {{else}}
                {{members-only}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-earphone mrx"></span>
              {{#if canSeeContactInfo}}
                {{#if model.noPhone}}
                  -
                {{else}}
                  {{model.user.phone}}
                {{/if}}
              {{else}}
                {{members-only}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-globe mrx"></span>
              {{#if canSeeContactInfo}}
                {{#if model.webSite}}
                  <a href={{model.webSite}} title={{model.webSite}} target="_blank">
                    {{truncate model.webSite limit=28}}
                  </a>
                {{else}}
                  {{t 'host.index.noWebsite'}}
                {{/if}}
              {{else}}
                {{members-only}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-map-marker mrx"></span>
              {{#if canSeeContactInfo}}
                <psan class="capitalize">{{model.address.city}} ({{model.address.department.name}})</psan>
              {{else}}
                {{members-only}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-plane mrx"></span>
              {{#if model.travelDetails}}
                {{model.travelDetails}}
              {{else}}
                -
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-star mrx"></span>
              {{t 'host.index.memberSince'}} {{moment-format model.user.createdAt 'MMMM YYYY'}}
            </td>
          </tr>
          <tr>
            <td>
              <span class="glyphicon glyphicon-time mrx"></span>
              {{t 'host.index.updated'}} {{moment-from-now model.updatedAt}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-home mrx"></span>
          {{t 'host.index.accommodation'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>{{t 'host.index.capacity'}}</td>
            <td class="text-right">
              {{t 'host.index.displayedCapacity' count=model.displayedCapacity}}
            </td>
          </tr>
          <tr>
            <td>{{t 'host.index.childrenOk'}}</td>
            <td class="text-right">
              <span class="glyphicon prx {{if model.childrenOk 'glyphicon-ok text-primary' 'glyphicon-ban-circle'}}"></span>
              {{#if model.childrenOk}}
                {{question-tooltip title=(t 'host.index.childrenOk.tooltip')}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td>{{t 'host.index.petsOk'}}</td>
            <td class="text-right">
              <span class="glyphicon prx {{if stay.petsOk 'glyphicon-ok text-primary' 'glyphicon-ban-circle'}}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {{#if model.activities}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-grain mrx"></span>
            {{t 'host.index.activities'}}
          </h3>
        </div>
        <table class="table table-striped">
          <tbody>
          {{#each model.displayedActivities as |activity|}}
            <tr>
              <td>{{activity}}</td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-pencil mrx"></span>
          {{t 'host.index.description'}}
        </h3>
      </div>
      <div class="panel-body">
        {{convert-breaklines model.fullDescription}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    {{#unless model.noEmail}}
      {{#if canSeeContactInfo}}
        {{#link-to 'host.contact' model.id class="btn btn-block btn-primary mbm"}}
          <span class="glyphicon glyphicon-envelope mrx"></span>
          {{t 'host.index.contactHost'}}
        {{/link-to}}
      {{/if}}
    {{/unless}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-calendar mrx"></span>
          {{t 'host.index.openingMonths'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each model.openingCalendar as |month|}}
          <tr>
            <td class="capitalize">
              {{month.label}}
            </td>
            <td class="text-right {{if month.isOpen 'text-primary' 'text-danger'}}">
              {{#if month.isOpen}}
                {{t 'host.index.open'}}
              {{else}}
                {{t 'host.index.closed'}}
              {{/if}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-bed mrx"></span>
          {{t 'host.index.stays'}}
        </h3>
      </div>
      <table class="table table-striped">
        <tbody>
        {{#each model.displayedStays as |stay|}}
          <tr>
            <td>{{stay.label}}</td>
            <td class="text-right">
              <span class="glyphicon prx {{if stay.isOk 'glyphicon-ok text-primary' 'glyphicon-ban-circle'}}"></span>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
