<div class="page-header">
    <h1>{{farmName}}
        <small>{{user.firstName}} {{user.lastName}}</small>
    </h1>
</div>

<div class="row">
    <div class="col-md-6">

        <p>Address:
            {{address.address1}}
            {{#if address.address2}}
                / {{address.address2}}
            {{/if}}
        </p>

        <p>Zip Code: {{address.zipCode}}</p>

        <p>City: {{address.city}}</p>

        <hr/>

        <p>Email: {{user.email}}</p>

        <p>Phone:  {{user.phone}}</p>

        <p>Website: <a {{bind-attr href=webSite}} target="_blank">{{webSite}}</a></p>

        <hr/>

        <p>Entry: {{fullDescription}}</p>

        <p>Travel:  {{travelDetails}}</p>

    </div>
    <div class="col-md-6">
        <div class="host-gallery swipeshow">
            <ul class="slides">
                {{#each photos}}
                    <li class="slide">
                        <img {{bind-attr src="completeUrl"}} />
                    </li>
                {{else}}
                    <li class="slide">
                        <img src="/wwoof-no-photo.png"/>
                    </li>
                {{/each}}
            </ul>
            <!--<div class='dots'></div>-->
        </div>
    </div>
</div>
