<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{t 'host.photos.new'}}</h3>
  </div>
  <div class="panel-body">
    {{#if model.canUploadPhotos}}
      {{photo-uploader dataUrl='/api/photos' model=model mode='host'}}
      <span class="form-details">
        {{t 'host.photos.details'}}
      </span>
    {{else}}
      <div class="alert alert-warning mbx" role="alert">
        {{t 'host.photos.limitReached'}}
      </div>
    {{/if}}
  </div>
</div>
{{#if model.photos}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{t 'host.photos.edit'}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        {{#each model.photos as |photo|}}
          <div class="col-md-6 mbm">
            {{image-thumb src=photo.urlMedium}}
            {{#if photo.isThumbnail}}
              <span class="label label-info">{{t 'host.photos.coverPhoto'}}</span>
            {{/if}}
            <div class="input-group mtx">
              {{input type='text' name='caption' value=photo.caption class='form-control' placeholder=(t 'host.photos.caption.placeholder')}}
              <div class="input-group-btn">
                <button {{action 'savePhoto' photo}} class="btn btn-primary mrx" aria-label={{t 'literal.save'}} title={{t 'literal.save'}} disabled={{photo.cannotSave}}>
                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
                <button {{action 'setAsThumbnail' model photo}} class="btn btn-default {{if photo.isThumbnail 'disabled'}}" aria-label={{t 'host.photos.setAsThumbnail'}} title={{t 'host.photos.setAsThumbnail'}}>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </button>
                <button {{action 'deletePhoto' photo}} class="btn btn-danger" aria-label={{t 'literal.delete'}} title={{t 'literal.delete'}}>
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
              </div>
            </div>
            {{error-display error=photo.validations.attrs.caption showError=photo.didValidate}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
