{{#if model.isPending}}
    {{#if session.user.isAdmin}}
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-warning-sign"></span>
            {{t 'host.validation-status.adminPending'}}
            {{t 'host.validation-status.adminReviewDetails'}}
            <a href="#" {{action "approveHost" true}} class="alert-link">{{t 'host.validation-status.adminApprove'}}</a>
            {{t 'host.validation-status.or'}}
            <a href="#" {{action "approveHost" false}} class="alert-link">{{t 'host.validation-status.adminReject'}}</a>.
        </div>
    {{else}}
        <div class="alert alert-info alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span class="glyphicon glyphicon-hourglass"></span>
            {{t 'host.validation-status.profileCreated'}}
            {{t 'host.validation-status.mustValidate'}}
            {{t 'host.validation-status.uploadPictures'}}
        </div>
    {{/if}}
{{/if}}
