{{#modal-dialog close=close translucentOverlay=true}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" {{action close}} aria-label={{t 'literal.close'}}>
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      {{t 'approve-modal.title'}}
    </h4>
  </div>
  <div class="modal-body">
    {{t 'approve-modal.communityGuidelines'}}
    <ul>
      <li>{{t 'approve-modal.guideline1'}}</li>
      <li>{{t 'approve-modal.guideline2'}}</li>
      <li>{{t 'approve-modal.guideline3'}}</li>
      <li>{{t 'approve-modal.guideline4'}}</li>
    </ul>
    {{#forms/form-group valuePath='review.text' validations=validations as |showError|}}
      <label for="text" class="control-label">{{t 'approve-modal.instructions'}}</label>
      <span class="pull-right {{unless review.textCharLeft 'text-danger'}}">{{t 'common.charLeft' count=review.textCharLeft}}</span>
      <div class="rating mbs">
        <span class="{{if review.hasFiveStars 'selected'}}">☆</span>
        <span class="{{if review.hasFourStars 'selected'}}">☆</span>
        <span class="{{if review.hasThreeStars 'selected'}}">☆</span>
        <span class="{{if review.hasTwoStars 'selected'}}">☆</span>
        <span class="{{if review.hasOneStar 'selected'}}">☆</span>
      </div>

      {{textarea id='text' name='text' value=review.text class='form-control' rows='5' disabled=review.approvedAt}}
      {{error-display error=validations.attrs.review.text showError=showError}}
    {{/forms/form-group}}
    {{#if review.replyText}}
      {{#forms/form-group valuePath='review.replyText' validations=validations as |showError|}}
        <label for="replyText" class="control-label">{{t 'approve-modal.replyInstructions'}}</label>
        <span class="pull-right {{unless review.replyTextCharLeft 'text-danger'}}">{{t 'common.charLeft' count=review.replyTextCharLeft}}</span>

        {{textarea id='replyText' name='replyText' value=review.replyText class='form-control' rows='5' disabled=review.replyApprovedAt}}
        {{error-display error=validations.attrs.review.replyText showError=showError}}
      {{/forms/form-group}}
    {{/if}}
  </div>
  <div class="modal-footer">
    {{#unless review.approvedAt}}
      <button type="button" class="btn btn-danger" onclick={{action deleteReview review}}>
        {{t 'literal.delete'}}
      </button>
    {{/unless}}
    <button type="button" class="btn btn-primary" onclick={{action approveReview review}} disabled={{isApproving}}>
      {{t 'literal.approve'}}
    </button>
  </div>
{{/modal-dialog}}
