<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {{#link-to 'index' class="navbar-brand logo"}}<img src="wwoof-fr-logo.png">{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'hosts'}}<span class="glyphicon glyphicon-tree-conifer"></span> Hosts{{/link-to}}</li>
                <li>{{#link-to 'wwoofers'}}Wwoofers{{/link-to}}</li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Hosts">
                        <div class="pop-out">
                            <div class="arrow"></div>
                            <span class="departments-list">DEPARTMENTS:</span>
                            <br>
                                <div class="dropdown-item">
                                    {{view Ember.Select
                                    class="form-control"
                                    prompt="Department"
                                    optionLabelPath="content.name"
                                    content=departmentFilterOptions
                                    value=departmentFilter}}
                                </div>
                            <h4>Activities</h4>
                            {{!--{{toggle-options values=allActivities selected=selectedActivities}}--}}
                        </div>
                        <script>$('.department').click(function(){$('.department').not(this).removeClass('envy');$(this).toggleClass('envy')})</script>
                    </input>
                </div>
                <button type="submit" class="btn btn-primary btn-search"><span class="glyphicon glyphicon-search"></span></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            {{currentUser.firstName}} {{currentUser.lastName}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>{{#link-to 'user.edit' currentUser}}My Account{{/link-to}}</li>
                            <li>{{#link-to 'memberships'}}My Memberships{{/link-to}}</li>
                            <li class="divider"></li>
                            <li><a href="#" {{action "logout"}}>Logout</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li>{{#link-to 'login' class="btn btn-default btn-navbar"}}Login{{/link-to}}</li>
                    <li>{{#link-to 'users.new' class="btn btn-primary btn-navbar"}}Sign Up{{/link-to}}</li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {{outlet}}
</div>
<div class="preloader"><img src="preloader.gif"></div>