<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid {{unless isHostsIndexRoute 'main-container'}}">
    <div class="navbar-header">
      {{#link-to 'hosts.index' class="navbar-brand logo"}}
        <img src="/assets/images/wwoof-fr-logo.png">
      {{/link-to}}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" onclick={{action 'navBarClicked' value='target'}}>
      <ul class="nav navbar-nav">
        {{#link-to 'hosts.index' tagName='li' class=(if hostsIsActive 'active' 'pute') activeClass=''}}
          <a href={{view.href}}>{{t 'menu.hostList'}}</a>
        {{/link-to}}
        {{#if canSeeWwoofersLink}}
          {{#link-to 'wwoofers.index' tagName='li' class=(if wwoofersIsActive 'active')}}
            <a href={{view.href}}>{{t 'menu.wwooferList'}}</a>
          {{/link-to}}
        {{/if}}

        {{#if session.isAuthenticated}}
          {{#link-to 'conversations.index' tagName='li' class=(if inboxIsActive 'active')}}
            <a href={{view.href}}>
              {{t 'menu.inbox'}}
              {{#if conversationsService.conversations.meta.unread}}
                ({{conversationsService.conversations.meta.unread}})
              {{/if}}
            </a>
          {{/link-to}}
        {{/if}}
        {{#if sessionUser.user.isAdmin}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                {{#link-to 'users'}}
                  {{t 'literal.users'}}
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'memberships'}}
                  {{t 'literal.memberships'}}
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'reviews'}}
                  {{t 'literal.reviews'}}
                {{/link-to}}
              </li>
            </ul>
          </li>
        {{/if}}
      </ul>
      {{#if session.isAuthenticated}}
        <ul class="nav navbar-nav navbar-right">
          {{#if sessionUser.user.host.id}}
            {{#link-to 'host.index' sessionUser.user.host.id tagName='li' activeClass=''}}
              <a href={{view.href}}>
                {{profile-status type='host' user=sessionUser.user class='prx'}}{{t 'menu.hostProfile'}}
              </a>
            {{/link-to}}
          {{else}}
            {{#unless sessionUser.user.hasWwooferMemberships}}
              {{#link-to 'become-wwoofer.intro' tagName='li' class=(if newWwooferIsActive 'active')}}
                <a href={{view.href}}>{{t 'menu.becomeWwoofer'}}</a>
              {{/link-to}}
            {{/unless}}
            {{#link-to 'hosts.new' tagName='li' class=(if newHostIsActive 'active')}}
              <a href={{view.href}}>{{t 'menu.becomeHost'}}</a>
            {{/link-to}}
          {{/if}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
              <img class="img-circle" src={{sessionUser.user.photoUrlThumb1}}>&nbsp;
              {{sessionUser.user.firstName}}
            </a>
            <ul class="dropdown-menu">
              <li>
                {{#link-to 'user.edit' sessionUser.user.id}}
                  {{t 'menu.myProfile'}}
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'user.settings' sessionUser.user.id}}
                  {{t 'menu.myAccount'}}
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'user.memberships' sessionUser.user.id}}
                  {{t 'menu.memberships'}}
                {{/link-to}}
              </li>
              <li class="divider hidden-xs"></li>
              <li>
                {{#if isEnglishLocale}}
                  <a href="https://support.wwoof.fr/hc/en-us" target="_blank">{{t 'menu.faq'}}</a>
                {{else}}
                  <a href="https://support.wwoof.fr/hc/fr" target="_blank">{{t 'menu.faq'}}</a>
                {{/if}}
              </li>
              <li>
                {{#if isEnglishLocale}}
                  <a href="https://support.wwoof.fr/hc/en-us/requests/new" target="_blank">{{t 'menu.contact'}}</a>
                {{else}}
                  <a href="https://support.wwoof.fr/hc/fr/requests/new" target="_blank">{{t 'menu.contact'}}</a>
                {{/if}}
              </li>
              <li class="divider hidden-xs"></li>
              <li>
                <a href="#" {{action 'invalidateSession'}}>
                  {{t 'menu.logout'}}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      {{else}}
        <div class="navbar-right">
          {{#link-to 'login' class="btn btn-default navbar-btn"}}
            {{t 'menu.login'}}
          {{/link-to}}
          {{#link-to 'users.new' class="btn btn-primary navbar-btn"}}
            {{t 'menu.signUp'}}
          {{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
</nav>
<div class="container-fluid {{unless isHostsIndexRoute 'main-container mtm mbm'}}">
  {{outlet}}
</div>

{{ember-notify messageStyle='bootstrap' closeAfter=4000}}
