<div class="col-md-10 col-md-offset-1">
    <div class="page-header">
        <h1>{{t 'contact.title'}}</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'contact.welcome.title'}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{t 'contact.welcome.content1'}}</p>
                    <p>{{t 'contact.welcome.content2'}}
                        {{t 'contact.welcome.content3'}} <a href="mailto:webmaster@wwoof.fr">webmaster@wwoof.fr</a>.
                        {{t 'contact.welcome.content4'}}
                    </p>
                    <p>
                        {{t 'contact.welcome.content5'}} <a href="mailto:hello@wwoof.fr">hello@wwoof.fr</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'contact.contribute.title'}}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {{t 'contact.contribute.content1'}} <a href="https://github.com/wwoof">{{t 'contact.contribute.content2'}}</a>.
                        {{t 'contact.contribute.content3'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
