<div class="row">
  <div class="col-sm-3">
    <ul class="navbar nav">
      <li>{{#link-to 'host.edit' model.id}}{{t 'literal.editProfile'}}{{/link-to}}</li>
      <li>{{#link-to 'host.address' model.id}}{{t 'literal.myAddress'}}{{/link-to}}</li>
      <li>{{#link-to 'host.photos' model.id}}{{t 'literal.photos'}}{{/link-to}}</li>
    </ul>
    {{#link-to 'host.index' model.id class="btn btn-primary btn-block mtm mbm"}}{{t 'literal.viewProfile'}}{{/link-to}}

    <hr/>
    {{#if model.isPendingOrRejected}}
      {{host-approval-status host=model}}
    {{else}}
      {{host-membership-status user=model.user}}
    {{/if}}
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>
