{{#if currentUser}}
    <div class="page-header">
        <h1>{{t 'index.title' firstNameBinding='currentUser.firstName'}}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{t 'index.hostProfile.title'}}</div>
                <div class="panel-body">
                    {{#if hostProfile}}
                        <p>{{t 'index.hostProfile.instructions' farmNameBinding='hostProfile.farmName'}}</p>
                        {{#link-to 'host.index' hostProfile.id class="btn btn-primary"}}{{t 'index.viewProfile'}}{{/link-to}}
                        {{#link-to 'host.edit' hostProfile.id class="btn btn-default"}}{{t 'index.editProfile'}}{{/link-to}}
                    {{else}}
                        <p>{{t 'index.noHostProfile'}}</p>
                        {{#link-to 'hosts.new' class="btn btn-primary"}}{{t 'index.createProfile'}}{{/link-to}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{t 'index.wwooferProfile.title'}}</div>
                <div class="panel-body">
                    {{#if wwooferProfile}}
                        <p>{{t 'index.wwooferProfile.instructions'}}</p>
                        {{#link-to 'wwoofer.edit' wwooferProfile.id class="btn btn-default"}}{{t 'index.editProfile'}}{{/link-to}}
                    {{else}}
                        <p>{{t 'index.noWwooferProfile'}}</p>
                        {{#link-to 'wwoofers.new' class="btn btn-primary"}}{{t 'index.createProfile'}}{{/link-to}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="jumbotron">
        <h1>{{t 'index.anonymousTitle'}}</h1>
        <p>{{t 'index.anonymousHeadline'}}</p>
        <p>
            {{#link-to 'login' class="btn btn-default btn-lg" role="button"}}{{t 'menu.login'}}{{/link-to}}
            {{#link-to 'users.new' class="btn btn-primary btn-lg" role="button"}}{{t 'menu.signUp'}}{{/link-to}}
        </p>
        <hr>
        <div class="showcase">
            <div class="block" style="background-image: url(http://www.wwoof.fr/loggedon/images/PICT3184.JPG);">
                <div class="overlay"></div>
                <!--<div class="anotherlay"></div>-->
                <div class="underlay"></div>
                <span class="tagline">Ferme Boleychamps</span>
                <span class="otherline"><i>Anould, Lorraine Department</i></span>
                <div class="border"></div>
            </div>

            <div class="block" style="background-image: url(http://www.wwoof.fr/loggedon/images/vu%20sur%20camping%209%20-%20Copie.jpg);">
                <div class="overlay"></div>
                <!--<div class="anotherlay"></div>-->
                <div class="underlay"></div>
                <span class="tagline">Camping Mandala</span>
                <span class="otherline"><i>Prads Haute Bleone, Alpes-de-Haute-Provence</i></span>
                <div class="border"></div>
            </div>

            <div class="block" style="background-image: url(http://www.wwoof.fr/loggedon/images/IMGP1071.JPG);">
                <div class="overlay"></div>
                <!--<div class="anotherlay"></div>-->
                <div class="underlay"></div>
                <span class="tagline">Potager des 7 lieux</span>
                <span class="otherline"><i>Épernay, Marne Department</i></span>
                <div class="border"></div>
            </div>

            <div class="block" style="background-image: url(http://www.wwoof.fr/loggedon/images/anould3.JPG)">
                <div class="overlay"></div>
                <!--<div class="anotherlay"></div>-->
                <div class="underlay"></div>
                <span class="tagline">Ferme Boleychamps</span>
                <span class="otherline"><i>Anould, Lorraine Department</i></span>
                <div class="border"></div>
            </div>

            <div class="block" style="background-image: url(http://www.wwoof.fr/loggedon/images/DSC00040.JPG);">
                <div class="overlay"></div>
                <!--<div class="anotherlay"></div>-->
                <div class="underlay"></div>
                <span class="tagline">La Bergerie du Menez Hom</span>
                <span class="otherline"><i>Dineault, Brittany Department</i></span>
                <div class="border"></div>
            </div>

            <div class="block" style="background-image: url(http://www.wwoof.fr/loggedon/images/wwoof3.jpg);">
                <div class="overlay"></div>
                <!--<div class="anotherlay"></div>-->
                <div class="underlay"></div>
                <span class="tagline">La Ferme du Pommier</span>
                <span class="otherline"><i>Ennevelin, Nord Department</i></span>
                <div class="border"></div>
            </div>
        </div>
    </div>
{{/if}}
