{{#if session.isAuthenticated}}
    <div class="page-header">
        <h1>{{t 'index.title' firstNameBinding='currentUser.firstName'}}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'index.hostProfile.title'}}</h4>
                </div>
                <div class="panel-body">
                    {{#if host}}
                        <p>{{t 'index.hostProfile.instructions' farmNameBinding='host.farmName'}}</p>
                        {{#link-to 'host.index' host.id class="btn btn-primary"}}{{t 'index.viewProfile'}}{{/link-to}}
                        {{#link-to 'host.edit' host.id class="btn btn-default"}}{{t 'index.editProfile'}}{{/link-to}}
                        {{#link-to 'wwoofers.index' class="btn btn-default"}}{{t 'index.searchWwoofers'}}{{/link-to}}
                    {{else}}
                        <p>{{t 'index.noHostProfile'}}</p>
                        {{#link-to 'hosts.new' class="btn btn-primary"}}{{t 'index.createProfile'}}{{/link-to}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'index.wwooferProfile.title'}}</h4>
                </div>
                <div class="panel-body">
                    {{#if wwoofer}}
                        <p>{{t 'index.wwooferProfile.instructions'}}</p>
                        {{#link-to 'wwoofer.edit' wwoofer.id class="btn btn-default"}}{{t 'index.editProfile'}}{{/link-to}}
                        {{#link-to 'hosts.index' class="btn btn-primary"}}{{t 'index.viewHosts'}}{{/link-to}}
                    {{else}}
                        <p>{{t 'index.noWwooferProfile'}}</p>
                        {{#link-to 'wwoofers.new' class="btn btn-primary"}}{{t 'index.createProfile'}}{{/link-to}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'index.welcome.title'}}</h4>
                </div>
                <div class="panel-body">
                    <p>{{t 'index.welcome.content1'}}</p>
                    <p>{{t 'index.welcome.content2'}}
                      {{t 'index.welcome.content3'}} <a href="mailto:webmaster@wwoof.fr">webmaster@wwoof.fr</a>.
                      {{t 'index.welcome.content4'}}
                    </p>
                    <p>
                        {{t 'index.welcome.content5'}} <a href="mailto:hello@wwoof.fr">hello@wwoof.fr</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{{t 'index.contribute.title'}}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {{t 'index.contribute.content1'}} <a href="https://github.com/wwoof">{{t 'index.contribute.content2'}}</a>.
                        {{t 'index.contribute.content3'}}
                    </p>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="jumbotron">
        <h1>{{t 'index.anonymousTitle'}}</h1>
        <p>{{t 'index.anonymousHeadline'}}</p>
        <p>
            {{#link-to 'login' class="btn btn-default btn-lg" role="button"}}{{t 'menu.login'}}{{/link-to}}
            {{#link-to 'users.new' class="btn btn-primary btn-lg" role="button"}}{{t 'menu.signUp'}}{{/link-to}}
        </p>
    </div>
{{/if}}
