<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>{{t 'login.title'}}</h1>
  </div>
  {{#if fromReset}}
    <div class="alert alert-info" role="alert">
      <strong>{{t 'login.checkYourEmails'}}</strong>
      {{t 'login.temporaryPassword'}}
    </div>
  {{/if}}
  <form autocomplete="on" method="POST" {{action "login" on="submit"}}>
    <div class="form-group {{if fieldErrors.username.length 'has-error'}}">
      <label for="username" class="control-label">{{t 'literal.email'}}</label>
      {{input value=username id="username" name="username" type="email" class="form-control"}}
      {{error-display errors=fieldErrors.username}}
    </div>
    <div class="form-group {{if fieldErrors.password.length 'has-error'}}">
      <label for="password" class="control-label">{{t 'literal.password'}}</label>
      {{input value=password id="password" name="password" type="password" class="form-control"}}
      {{error-display errors=fieldErrors.password}}
    </div>
    <button type="submit" class="btn btn-primary" disabled={{isLoading}}>{{t 'login.login'}}</button>
    {{#link-to 'reset-password' class="pull-right"}}{{t 'login.forgotPassword'}}{{/link-to}}
  </form>
  <div class="alert alert-warning alert-dismissible mts" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Le 28 janvier entre 9h et 16h (heure de Paris) un problème dans notre système de messagerie a provoqué la perte d'e-mails.
    Le problème a été résolu et les e-mails sont envoyés à nouveau normalement. Si vous avez tenté de contacter un hôte pendant ce laps de temps, nous vous invitons à le contacter de nouveau.
    Nous nous excusons pour la gêne occasionnée.
    <hr>
    On January 28th between 9am and 4pm (Paris time) an issue in our mailing system provoked the loss of e-mails.
    The issue has been resolved and e-mails are being sent normally again. If you attempted to contact a host during that time frame, we invite you to contact that host again.
    We sincerely apologize for the inconvenience.
  </div>
</div>
<div class="col-md-3">

</div>
