<form>
    <div {{bind-attr class=":form-group"}}>
        <label for="username" class="control-label">Email</label>
        {{input value=username name="username" type="text" class="form-control"}}
    </div>
    <div {{bind-attr class=":form-group"}}>
        <label for="password" class="control-label">Password</label>
        {{input value=password name="password" type="password" class="form-control"}}
    </div>

    <button {{action "login"}} class="btn btn-default">Log in</button>
</form>