<div class="page-header">
    <h1>Login To Your Account</h1>
</div>
<form autocomplete="on" method="POST" {{action "login" on="submit"}}>
    <div {{bind-attr class=":form-group content.fieldErrors.username.length:has-error"}}>
        <label for="username" class="control-label">Email</label>
        {{input value=username name="username" type="email" class="form-control"}}
        {{error-display content.fieldErrors.username}}
    </div>
    <div {{bind-attr class=":form-group content.fieldErrors.password.length:has-error"}}>
        <label for="password" class="control-label">Password</label>
        {{input value=password name="password" type="password" class="form-control"}}
        {{error-display content.fieldErrors.password}}
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
    {{#link-to 'reset-password' class="pull-right"}}I forgot my password{{/link-to}}
</form>