<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>{{t 'login.title'}}</h1>
  </div>
  {{#if fromReset}}
    <div class="alert alert-info" role="alert">
      <strong>{{t 'login.checkYourEmails'}}</strong>
      {{t 'login.temporaryPassword'}}
    </div>
  {{/if}}
  <form autocomplete="on" method="POST" {{action 'login' on='submit'}}>
    {{#forms/form-group valuePath='username' as |showError|}}
      <label for="username" class="control-label">{{t 'literal.email'}}</label>
      {{input value=username id='username' name='username' type='email' class='form-control'}}
      {{error-display error=validations.attrs.username showError=showError}}
    {{/forms/form-group}}
    {{#forms/form-group valuePath='password' as |showError|}}
      <label for="password" class="control-label">{{t 'literal.password'}}</label>
      {{input value=password id='password' name='password' type='password' class='form-control'}}
      {{error-display error=validations.attrs.password showError=showError}}
    {{/forms/form-group}}
    <button type="submit" class="btn btn-primary" disabled={{isLoading}}>{{t 'login.login'}}</button>
    {{#link-to 'reset-password' class='pull-right'}}{{t 'login.forgotPassword'}}{{/link-to}}
  </form>
</div>
