<div class="page-header">
    <h1>Reset My Password</h1>
</div>
<p>
    Lost your password? No worries! Enter your email address below and we will send you an email with a new password.
</p>
<form autocomplete="on" method="POST" {{action "resetPassword" on="submit"}}>
    <div {{bind-attr class=":form-group fieldErrors.emailAddress.length:has-error"}}>
        <label for="emailAddress" class="control-label">Email</label>
        {{input value=emailAddress name="email" type="email" class="form-control"}}
        {{error-display fieldErrors.emailAddress}}
    </div>
    <button type="submit" class="btn btn-primary" {{bind-attr disabled="isLoading"}}>Reset My Password</button>
</form>