<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>{{t 'resetPassword.title'}}</h1>
  </div>
  <p>
    {{t 'resetPassword.instructions'}}
  </p>

  <form autocomplete="on" method="POST" {{action 'resetPassword' on='submit'}}>
    {{#forms/form-group valuePath='email' validations=validations as |showError|}}
      <label for="email" class="control-label">{{t 'literal.email'}}</label>

      {{input value=email id='email' name='email' type='email' class='form-control'}}
      {{error-display error=validations.attrs.email showError=showError}}
    {{/forms/form-group}}
    <button type="submit" class="btn btn-primary" disabled={{isLoading}}>{{t 'resetPassword.button'}}</button>
  </form>
</div>
