<div class="page-header">
    <h1>{{t 'resetPassword.title'}}</h1>
</div>
<p>
    {{t 'resetPassword.instructions'}}
</p>
<form autocomplete="on" method="POST" {{action "resetPassword" on="submit"}}>
    <div {{bind-attr class=":form-group fieldErrors.emailAddress.length:has-error"}}>
        <label for="emailAddress" class="control-label">{{t 'literal.email'}}</label>
        {{input value=emailAddress name="email" type="email" class="form-control"}}
        {{error-display fieldErrors.emailAddress}}
    </div>
    <button type="submit" class="btn btn-primary" {{bind-attr disabled="isLoading"}}>{{t 'resetPassword.button'}}</button>
</form>
