<div class="row">
  <div class="col-sm-3">
    <ul class="navbar nav">
      <li>{{#link-to 'user.edit' model.id}}{{t 'user.myAccount'}}{{/link-to}}</li>
      <li>{{#link-to 'user.memberships' model.id}}{{t 'user.myMemberships'}}{{/link-to}}</li>
      <li>{{#link-to 'user.bookmarks' model.id}}{{t 'user.favorites'}}{{/link-to}}</li>
      <li>{{#link-to 'user.change-password' model.id}}{{t 'user.myPassword'}}{{/link-to}}</li>
    </ul>
  </div>
  <div class="col-sm-9 ">
    {{outlet}}
  </div>
</div>
