<div class="row">
  <div class="col-sm-3">
    <ul class="navbar nav">
      <li>{{#link-to 'user.edit' model.id}}{{t 'user.nav.profile'}}{{/link-to}}</li>
      <li>{{#link-to 'user.photo' model.id}}{{t 'user.nav.photo'}}{{/link-to}}</li>
      <li>{{#link-to 'user.settings' model.id}}{{t 'user.nav.account'}}{{/link-to}}</li>
      <li>{{#link-to 'user.memberships' model.id}}{{t 'user.nav.memberships'}}{{/link-to}}</li>
      <li>{{#link-to 'user.change-password' model.id}}{{t 'user.nav.password'}}{{/link-to}}</li>
    </ul>
    {{#link-to 'user.index' model.id class='btn btn-primary btn-block mtm mbm' disabled=model.isIncomplete}}
      {{t 'literal.viewProfile'}}
    {{/link-to}}

    {{help-articles label=articlesLabel class='hidden-xs'}}
  </div>
  <div class="col-sm-9 ">
    {{outlet}}
  </div>
</div>
