<div class="row">
  <div class="col-sm-3">
    <ul class="navbar nav">
      <li>{{#link-to 'user.edit' model.id}}{{t 'user.nav.myAccount'}}{{/link-to}}</li>
      <li>{{#link-to 'user.memberships' model.id}}{{t 'user.nav.memberships'}}{{/link-to}}</li>
      <li>{{#link-to 'user.favorites' model.id}}{{t 'user.nav.favorites'}}{{/link-to}}</li>
      <li>{{#link-to 'user.change-password' model.id}}{{t 'user.nav.myPassword'}}{{/link-to}}</li>
    </ul>

    {{help-articles label=articlesLabel class='hidden-xs'}}
  </div>
  <div class="col-sm-9 ">
    {{outlet}}
  </div>
</div>
