<div class="row">
  <div class="col-sm-3">
    <ul class="navbar nav">
      <li>{{#link-to 'wwoofer.edit' model.id}}{{t 'literal.editProfile'}}{{/link-to}}</li>
      <li>{{#link-to 'wwoofer.address' model.id}}{{t 'literal.myAddress'}}{{/link-to}}</li>
    </ul>
    {{#link-to 'wwoofer.index' model.id class="btn btn-primary btn-block mtm mbm" disabled=model.isIncomplete}}
      {{t 'literal.viewProfile'}}
    {{/link-to}}
    
    {{#if model.isComplete}}
      <hr/>
      {{wwoofer-membership-status user=model.user}}
    {{/if}}

    {{help-articles label=articlesLabel class='hidden-xs'}}
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>
